@using BusinessObjects.Models;
@using WebNewsAPIs.Dtos;
@model UpdateArticleDto;
@{
    var selectListCategory = (SelectList)ViewBag.SelectListCategory;

    Layout = "_LayoutPersonalInformation";

    var informationUser = (User)ViewBag.InformationUser;
    string pathImageDefault = "";
    string pathImageMale = "/images/male_default.png";
    string pathImageFemale = "/images/female_default.png";
    string pathImageKhac = "/images/img_default.png";


    if (informationUser.Gender != null)
    {
        if (informationUser.Gender.Equals("Nam"))
        {
            pathImageDefault = pathImageMale;
        }
        else if (informationUser.Gender.Equals("Nữ"))
        {
            pathImageDefault = pathImageFemale;
        }
        else if (informationUser.Gender.Equals("Khác"))
        {
            pathImageDefault = pathImageKhac;
        }



        pathImageDefault = informationUser.Image == null ? pathImageDefault : informationUser.Image;
    }
    else
    {
        pathImageDefault = pathImageKhac;
    }
}
<style>
    .containerImg {
        width: 900px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .containerImg img {
            max-width: 100%;
            max-height: 100%;
        }

    #clickLoadCoverImage:hover {
        cursor: pointer;
    }

</style>

<div class="full_container">
    <div class="inner_container">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar_blog_1">
                <div class="sidebar-header">
                    <div class="logo_section">
                        <a asp-controller="Home" asp-action="Index"><img class="logo_icon img-responsive" src="~/pluto/images/logo/logo_icon.png" alt="#" /></a>
                    </div>
                </div>
                <div class="sidebar_user_info">
                    <div class="icon_setting"></div>
                    <div class="user_profle_side">
                        <div class="user_img">
                            <img style="object-fit:cover;width:70px;height:70px" class="img-responsive" src="@pathImageDefault" alt="#" />
                            <p><span class="online_animation"></span> Online</p>
                        </div>

                        <div class="user_info">
                            <h6 class="text-center">@informationUser.DisplayName</h6>

                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar_blog_2">
                <h4>Action General</h4>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a asp-controller="PersonalInformation" asp-action="PersonalInformationOfUser">
                            <i class="fa fa-user"></i>
                            <span>Thông Tin Tài Khoản</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PersonalInformation" asp-action="PersonalArticleComment">
                            <i class="fa fa-comments-o blue2_color"></i>
                            <span>Hoạt động bình luận</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PersonalInformation" asp-action="BoardArticleOfUser">
                            <i class="fa fa-newspaper-o"></i>
                            <span>Bảng tin của bạn</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PersonalInformation" asp-action="ArticleViewed">

                            <i class="fa fa-clock-o orange_color"></i>
                            <span>Tin Đã xem</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PersonalInformation" asp-action="ArticleSaved">
                            <i class="fa fa-briefcase blue1_color"></i>
                            <span>Tin đã lưu</span>
                        </a>
                    </li>
                    @if (informationUser.Role.Rolename.ToUpper().Equals("ARTICLES"))
                    {
                        <li>
                            <a asp-controller="PersonalInformation" asp-action="GetAllArticleOfUser">
                                <i class="fa-regular fa-newspaper orange_color"></i>

                                <span>Bài báo đã tạo của bạn</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a asp-controller="User" asp-action="Logout">
                            <i class="fa fa-sign-out red_color"></i>
                            @*<i class="fa fa-arrow-right-from-bracket red_color"></i>*@
                            <span>Đăng xuất</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                            <a asp-controller="Home" asp-action="Index"><img class="img-responsive" src="~/pluto/images/logo/logo_black.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                            <div class="icon_info">
                                <ul>
                                    <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                    <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                </ul>
                                <ul class="user_profile_dd">
                                    <li>
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <img style="object-fit:cover;width:50px;height:50px" class="img-responsive rounded-circle" src="@pathImageDefault" alt="#" />
                                            <span class="name_user">@informationUser.DisplayName</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-controller="PersonalInformation" asp-action="PersonalInformationOfUser">Thông Tin tài khoản</a>
                                            <a class="dropdown-item" asp-controller="PersonalInformation" asp-action="PersonalArticleComment">Hoạt Động bình luận</a>
                                            <a class="dropdown-item" asp-controller="PersonalInformation" asp-action="PersonalOfNews">Bảng Tin của bạn</a>
                                            <a class="dropdown-item" asp-controller="PersonalInformation" asp-action="ArticleViewed">Tin đã Xem</a>
                                            <a class="dropdown-item" asp-controller="PersonalInformation" asp-action="ArticleSaved">Tin đã lưu</a>
                                            @if (informationUser.Role.Rolename.ToUpper().Equals("ARTICLES"))
                                            {
                                                <a class="dropdown-item" asp-controller="PersonalInformation" asp-action="GetAllArticleOfUser">Bài báo đã tạo của bạn</a>
                                            }
                                            <a class="dropdown-item" asp-controller="User" asp-action="Logout">

                                                <span>Đăng xuất</span>
                                                <i class="fa fa-sign-out"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Trang thêm bài báo</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row column1">
                        <div class="col-md-12">
                            <div class="white_shd full margin_bottom_30">
                                <div class="full graph_head">
                                    <div class="heading1 margin_0">
                                        <h2>Form tạo bài báo</h2>
                                    </div>
                                    <div class="containerImg">
                                        <img id="imgPreViewLoad" class=" mt-4" src="@Model.CoverImage" alt="#" />
                                    </div>
                                    <div class="p-5">
                                        <form method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <input type="hidden" asp-for="@Model.Author" value="@informationUser.UserId" />
                                            <input type="hidden" asp-for="@Model.StatusProcess" />
                                            <input type="hidden" asp-for="@Model.Processor" />
                                            <input type="hidden" asp-for="@Model.ArticleId" />
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label asp-for="@Model.Title" class="control-label"></label>
                                                    <input type="text" asp-for="@Model.Title" class="form-control" placeholder="Nhập tiêu đề cho bài báo" />
                                                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                                </div>
                                                <div class="form-group  col-6">
                                                    <label asp-for="@Model.CoverImage" class="control-label"></label><br />
                                                    <div class="input-group">

                                                        <input id="coverimage" type="text" asp-for="@Model.CoverImage" class="form-control" placeholder="Đường dẫn ảnh" />
                                                        <input style="display:none;" id="inputCovorIamge" type="file" name="UploadImageAvatar" />
                                                        <span class="input-group-text">
                                                            <i id="clickLoadCoverImage" class="fa fa-camera" title="Chọn ảnh cho bài báo"></i>
                                                        </span>
                                                        <span asp-validation-for="@Model.CoverImage" class="text-danger"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-6">
                                                    <label asp-for="@Model.LinkAudio" class="control-label"></label>
                                                    <input type="text" asp-for="@Model.LinkAudio" class="form-control" placeholder="Nhập link Audio nếu muốn ..." />
                                                    <span asp-validation-for="@Model.LinkAudio" class="text-danger"></span>
                                                </div>
                                                <div class="form-group  col-6">
                                                    <label asp-for="@Model.PublishDate" class="control-label"></label>
                                                    <input asp-for="@Model.PublishDate" class="form-control" placeholder="Nhập chọn ngày publish ..." />
                                                    <span asp-validation-for="@Model.PublishDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="@Model.ShortDescription" class="control-label"></label>
                                                <textarea id="shortDesciption" rows="5" asp-for="@Model.ShortDescription" class="form-control"></textarea>
                                                <span asp-validation-for="@Model.ShortDescription" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@Model.Content" class="control-label"></label>
                                                <textarea asp-for="@Model.Content" class="form-control"> ></textarea>
                                                <span asp-validation-for="@Model.Content" class="text-danger"></span>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-label mt-4">Chọn thể loại</label>
                                                    <select class="form-select" asp-for="@Model.CategortyId" asp-items="@selectListCategory"></select>
                                                </div>
                                                <div style="margin-top:50px;" class="form-check form-switch col-6">
                                                    <input class="form-check-input"  type="checkbox" asp-for="@Model.IsPublish">
                                                    <label class="form-check-label" asp-for="@Model.IsPublish"></label>
                                                </div>
                                            </div>
                                            <input type="button" value="Lưu Bài Báo" id="submit" class="btn btn-outline-primary mt-5" />

                                            <button id="ClickSave" asp-controller="PersonalInformation" asp-action="EditArticlePost" class="btn btn-outline-primary mt-5" style="display:none;">Cập nhật</button>

                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- end row -->
                    </div>

                </div>

            </div>
            <!-- footer -->
            <div class="container-fluid">
                <div class="footer">
                    <p>
                        Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                        Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                    </p>
                </div>
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>
</div>
<div id="displayLoader" style="display:none;">
    <div class="overlay"></div>
    <div class="centerScreen">
        <div class="loader"></div>
    </div>
</div>
<div id="hide_content" style="display:none;">
    @* @Html.Raw(Model.Content);*@
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_ToastMessage")
    <script src="~/js/add_update_article.js"></script>
    }
