@using BusinessObjects.Models;
@using WebNewsAPIs.Dtos;
@{
	ViewData["Title"] = "Home Page";
	var lastestNew = (IEnumerable<Article>)ViewBag.LastestNews;
	var slide = (Dictionary<string, List<ViewArticleDto>>)ViewBag.Slide;
	int count = 0;
	var popular = (List<Article>)ViewBag.MostPopular;
	var cacBaiBaoTuongTacCao = lastestNew.OrderBy(c => c.Comments.Count).Take(20);
}

@*<body class="home page-template page-template-page-home page-template-page-home-php page page-id-179 custom-background wp-embed-responsive theme-flex-mag woocommerce-no-js">
*@

@*header*@
<!--col-tabs-wrap-->
<div id="body-main-wrap" class="left relative">

	<div class="body-main-out relative">
		<div class="body-main-in">
			<div id="body-main-cont" class="left relative">
				<div id="leader-wrap" class="left relative">
					<div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--leader-wrap-->

				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">

						@foreach(var title in slide.Keys)
						{
							
							@if(slide[title].Count >= 4)
							{
								count = count + 1;

							<div class="carousel-item @(count == 1 ? "active" : "") parent">
								<div id="feat-top-wrap" class="left relative">
									@foreach(var item in slide[title].Take(4))
									{
										<div class="feat-wide5-main left relative">
											<a href="flex-mag-powerfully-simple-wordpress-theme/index.html" rel="bookmark">
												<div class="feat-wide5-img left relative">
													<img width="1600" height="960" src="@item.CoverImage" class="unlazy reg-img wp-post-image" alt="" decoding="async" srcset="@item.CoverImage 1600w, @item.CoverImage 300w, @item.CoverImage 1024w, @item.CoverImage 1000w, @item.CoverImage 450w" sizes="(max-width: 1600px) 100vw, 1600px" />
												</div><!--feat-wide5-img-->
												<div class="feat-wide5-text" style="width:100%">
													<span class="feat-cat">@item.CategortyName</span>
													<h2>@item.AuthorName: @item.Title</h2>
												</div><!--feat-wide5-text-->
												<div class="feat-info-wrap">
													<div class="feat-info-views">
														<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@item.ViewArticles</span>
													</div><!--feat-info-views-->
													<div class="feat-info-comm">
														<i class="fa fa-comment"></i> <span class="feat-info-text">@item.Comments.Count</span>
													</div><!--feat-info-comm-->
												</div><!--feat-info-wrap-->
											</a>
										</div>
										<!--feat-wide5-main-->	
									}
							
								</div><!--feat-top-wrap-->
									<div class="child">
										<span class="feat-cat" style=" font-size: 20px;font-weight: bold;padding: 10px 5px;">@title</span>
									</div>
							</div>
								
							}
							
						
						}
						

					</div>


					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>


				</div>
				
				<!--feat-top-wrap-->
				<div id="home-main-wrap" class="left relative">
					<div class="home-wrap-out1">
						<div class="home-wrap-in1">
							<div id="home-left-wrap" class=" left relative">
								<div class="home-wrap-out2">
									<div class="home-wrap-in2">
										<div id="tab-col1" class="home-left-col relative tab-col-cont">
											<div class="side-title-wrap left relative">
												<h3 class="side-list-title">Featured News</h3>
											</div><!--side-title-wrap-->
											@*Các bài báo có lương tương tác cao*@

											<section class="gallery-widget-wrap left relative">
												<div class="home-title-wrap left relative">
													<h3 class="side-list-title">Các bài báo có lượng tương tác cao</h3>
												</div><!--home-title-wrap-->
												<div class="post-gallery-top left relative flexslider">
													<ul class="post-gallery-top-list slides">
														@foreach (var a in cacBaiBaoTuongTacCao)
														{
															<li>
																<a href="starbucks-just-made-a-major-change-to-its-pumpkin-spice-latte/index.html" rel="bookmark" title="@a.Title">
																	<img width="1000" height="600" src="@a.CoverImage" class="attachment-mvp-post-thumb size-mvp-post-thumb wp-post-image" alt="anh" decoding="async" srcset="@a.CoverImage 1000w, @a.CoverImage 300w, @a.CoverImage 450w" sizes="(max-width: 1000px) 100vw, 1000px" />
																	<div class="gallery-widget-text">
																		<p>@a.Title</p>
																	</div><!--gallery-text-->
																</a>
															</li>
														}
														
														
													</ul>
												</div><!--post-gallery-top-->
												<div class="post-gallery-bot left relative flexslider">
													<ul class="post-gallery-bot-list slides">
														@foreach(var a in cacBaiBaoTuongTacCao)
														{
															<li>
																<div class="divContainImg">
																	<img width="80" height="80" src="@a.CoverImage" class="attachment-mvp-small-thumb size-mvp-small-thumb wp-post-image" alt="" decoding="async" srcset="@a.CoverImage 80w, @a.CoverImage 150w, @a.CoverImage 180w, @a.CoverImage 600w" sizes="(max-width: 80px) 100vw, 80px" />
																</div>
															</li>
														}
														
														
													</ul>
												</div><!--post-gallery-bot-->
											</section><!--gallery-widget-wrap-->

											@*adf*@
											<div id="home-mid-wrap" class="left relative">
												<div id="mvp_tagrow_widget-2" class="home-widget left relative mvp_tagrow_widget">
													<div class="row-widget-wrap left relative">
														<h3 class="text-danger">Bài báo nổi tiếng của từng thể loại</h3>
														<ul class="row-widget-list">
															@foreach(var title in slide.Keys)
															{
																var listArticleOrder = slide[title]
																.Where(c => c.CategortyName.Equals(title) && c.CreatedDate.Month == DateTime.Now.Month 
																&& c.CreatedDate.Year == DateTime.Now.Year)
																.OrderBy(c => c.ViewArticles);
																@foreach(var a in listArticleOrder.Take(1))
																{
																	<li>
																		<a href="yes-there-are-now-jeans-that-can-charge-your-phone/index.html" rel="bookmark">
																			<div class="row-widget-img left relative">
																				<div class="containIamgeW300">
																					<img width="300" height="180" src="@a.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" srcset="@a.CoverImage 300w, @a.CoverImage 450w, @a.CoverImage 1000w" sizes="(max-width: 300px) 100vw, 300px" />

																				</div>
																				<div class="feat-info-wrap">
																					<div class="feat-info-views">
																						<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@a.ViewArticles</span>
																					</div><!--feat-info-views-->
																					<div class="feat-info-comm">
																						<i class="fa fa-comment"></i> <span class="feat-info-text">@a.Comments.Count</span>
																					</div><!--feat-info-comm-->
																				</div><!--feat-info-wrap-->
																			</div><!--row-widget-img-->
																			<div class="row-widget-text left relative">
																				<span class="side-list-cat">@title</span>
																				<p>@a.Title</p>
																			</div><!--row-widget-text-->
																		</a>
																	</li>
																}	
															}
															
														</ul>
													</div><!--row-widget-wrap-->
												</div>

												<!--Top4 bai báo của moi thể loại-->
												@foreach(var title in slide.Keys)
												{
													var listTopArticle = slide[title].Take(4)
													.OrderBy(c => c.CreatedDate).OrderBy(c => c.ViewArticles).ToList();
													var top1ArticleOfCategories = listTopArticle.Take(1).ToList()[0];

													<div class="topArticleofCategory ">
														<div id="mvp_catlist_widget-3" class="home-widget left relative mvp_catlist_widget">
															<div class="home-title-wrap left relative"><h3 class="side-list-title">@title</h3></div>			
															<div class="blog-widget-wrap left relative">
																<ul class="blog-widget-list left relative row">
																	@foreach (var articleOflast3 in listTopArticle.Skip(1))
																	{
																		<li>
																			<a href="vmas-add-fan-voted-song-of-the-summer-contest-with-12-nominees/index.html" rel="bookmark">
																				<div class="blog-widget-img left relative">
																					<img width="300" height="180" src="@articleOflast3.CoverImage" class="widget-img-main wp-post-image" alt="" decoding="async" srcset="@articleOflast3.CoverImage 300w, @articleOflast3.CoverImage 1000w, @articleOflast3.CoverImage 450w" sizes="(max-width: 300px) 100vw, 300px" />								
																					<div class="feat-info-wrap">
																						<div class="feat-info-views">
																							<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@articleOflast3.ViewArticles</span>
																						</div><!--feat-info-views-->
																						<div class="feat-info-comm">
																							<i class="fa fa-comment"></i> <span class="feat-info-text">@articleOflast3.Comments.Count</span>
																						</div><!--feat-info-comm-->
																					</div><!--feat-info-wrap-->
																					<div class="feat-vid-but">
																						<i class="fa fa-play fa-3"></i>
																					</div><!--feat-vid-but-->
																				</div><!--blog-widget-img-->
																				<div class="blog-widget-text left relative">
																					<span class="side-list-cat">@articleOflast3.CategortyName</span>
																					<h2>@articleOflast3.Title</h2>
																					<p>@articleOflast3.ShortDescription</p>
																				</div><!--blog-widget-text-->
																			</a>
																		</li>
																	}
																</ul>
															</div><!--blog-widget-wrap-->
														</div>

														<div class="feat-widget-cont left relative ">
															<div class="feat-widget-in left relative">
																<div class="feat-widget-wrap left relative">
																	<a href="8-fall-outfit-ideas-brought-to-you-by-celebs/index.html" rel="bookmark">
																		<div class="feat-widget-img left relative">
																			<img width="1000" height="600" src="@top1ArticleOfCategories.CoverImage" class="widget-img-main wp-post-image" alt="" decoding="async" srcset="@top1ArticleOfCategories.CoverImage 1000w, @top1ArticleOfCategories.CoverImage 300w, @top1ArticleOfCategories.CoverImage 450w" sizes="(max-width: 1000px) 100vw, 1000px" />
																			<div class="feat-info-wrap">
																				<div class="feat-info-views">
																					<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@top1ArticleOfCategories.ViewArticles</span>
																				</div><!--feat-info-views-->
																				<div class="feat-info-comm">
																					<i class="fa fa-comment"></i> <span class="feat-info-text">@top1ArticleOfCategories.Comments.Count</span>
																				</div><!--feat-info-comm-->
																			</div><!--feat-info-wrap-->
																		</div><!--feat-widget-img-->
																		<div class="feat-widget-text left relative">
																			<span class="side-list-cat">@top1ArticleOfCategories.CategortyName</span>
																			<h2>@top1ArticleOfCategories.Title</h2>
																			<p>@top1ArticleOfCategories.ShortDescription</p>
																		</div><!--feat-widget-text-->
																	</a>
																</div><!--feat-widget-wrap-->
															</div><!--feat-widget-in-->
														</div><!--feat-widget-cont-->

													</div>
												}
												
											</div><!--home-mid-wrap-->
										</div><!--home-left-col-->
									</div><!--home-wrap-in2-->
									<div id="tab-col2" class="home-mid-col relative tab-col-cont theiaStickySidebar">
										<div class="side-title-wrap left relative">
											<h3 class="side-list-title">Latest News</h3>
										</div><!--side-title-wrap-->
										<div class="side-list-wrap left relative">
											<ul class="side-list left relative">
												@foreach(var n in lastestNew)
												{
													<li>
														<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@n.Slug" rel="bookmark">
															<div class="side-list-out">
																<div class="side-list-img left relative">
																	<img width="80" height="80" src="@n.CoverImage" class="attachment-mvp-small-thumb size-mvp-small-thumb wp-post-image" alt="" decoding="async" loading="lazy" srcset="@n.CoverImage 80w, @n.CoverImage 150w, @n.CoverImage 180w, @n.CoverImage 600w" sizes="(max-width: 80px) 100vw, 80px" />
																</div><!--side-list-img-->
																<div class="side-list-in">
																	<div class="side-list-text left relative">
																		<span class="side-list-cat">@n.Categorty.CategoryName</span>
																		<p>@n.Title</p>
																	</div><!--side-list-text-->
																</div><!--side-list-in-->
															</div><!--side-list-out-->
														</a>
													</li>
												}
												
											</ul>
										</div><!--side-list-wrap-->
										<div class="more-posts-wrap left relative">
											<a href="latest-news/index.html"><span class="more-posts-text">More Latest News</span></a>
										</div><!--more-posts-wrap-->
									</div><!--home-mid-col-->
									<div id="tab-col2" class="home-mid-col relative tab-col-cont theiaStickySidebar">
										<div class="side-title-wrap left relative"
											<h1 class="side-list-title">CÓ GÌ HOT NGÀY HÔM NAY</h1>
										</div><!--side-title-wrap-->
										<div class="side-list-wrap left relative">
											<ul class="side-list left relative">
												@{
													var top10Article = lastestNew.ToList().OrderBy(c => c.ViewArticles)
													.Where(c => c.CreatedDate.Date == DateTime.Now.Date).Take(10);
												}
												@if(top10Article.ToList().Count == 0)
												{
													<li>Chưa có bài nào hot hôm nay</li>
												}
												@foreach (var n in top10Article)
												{
													<li>
														<a href="tesla-is-installing-rapid-charging-stations-in-manhattan-garages/index.html" rel="bookmark">
															<div class="side-list-out">
																<div class="side-list-img left relative">
																	<img width="80" height="80" src="@n.CoverImage" class="attachment-mvp-small-thumb size-mvp-small-thumb wp-post-image" alt="" decoding="async" loading="lazy" srcset="@n.CoverImage 80w, @n.CoverImage 150w, @n.CoverImage 180w, @n.CoverImage 600w" sizes="(max-width: 80px) 100vw, 80px" />
																</div><!--side-list-img-->
																<div class="side-list-in">
																	<div class="side-list-text left relative">
																		<span class="side-list-cat">@n.Categorty.CategoryName</span>
																		<p>@n.Title</p>
																	</div><!--side-list-text-->
																</div><!--side-list-in-->
															</div><!--side-list-out-->
														</a>
													</li>
												}

											</ul>
										</div><!--side-list-wrap-->
										<div class="more-posts-wrap left relative">
											<a href="latest-news/index.html"><span class="more-posts-text">Xem thêm tin nóng</span></a>
										</div><!--more-posts-wrap-->
									</div><!--home-mid-col-->
								</div><!--home-wrap-out2-->
							</div><!--home-left-wrap-->
						</div><!--home-wrap-in1-->
						<div id="tab-col3" class="home-right-col relative tab-col-cont theiaStickySidebar">
							<div class="side-title-wrap left relative">
								<h3 class="side-list-title">Most Popular</h3>
							</div><!--side-title-wrap-->
							<div class="side-pop-wrap left relative">
								<div class="feat-widget-cont left relative">
									@foreach(var a in popular)
									{
										<div class="feat-widget-wrap left relative">
											<a href="kylie-jenner-was-paid-six-figures-to-attend-her-own-18th-birthday-party/index.html">
												<div class="feat-widget-img left relative">
													<img width="300" height="180" src="@a.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="@a.CoverImage 300w, @a.CoverImage 450w, @a.CoverImage 1000w" sizes="(max-width: 300px) 100vw, 300px" />
														<div class="feat-info-views">
															<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@a.ViewArticles</span>
														</div><!--feat-info-views-->
														<div class="feat-info-comm">
															<i class="fa fa-comment"></i> <span class="feat-info-text">@a.Comments.Count</span>
														</div><!--feat-info-comm-->
													</div><!--feat-info-wrap-->
												<!--feat-widget-img-->
												<div class="feat-widget-text">
													<span class="side-list-cat">@a.Categorty.CategoryName</span>
													<h2>@a.Title</h2>
												</div><!--feat-widget-text-->
											</a>
										</div>

										<!--feat-widget-wrap-->
									}
									
									<div class="widget-ad left relative pop-ad">
										<a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="~/template/www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
									</div><!--widget-ad-->
									
								</div><!--feat-widget-cont-->
							</div><!--side-pop-wrap-->
						</div><!--home-right-col-->
					</div><!--home-wrap-out1-->
				</div><!--home-main-wrap-->
				<div id="foot-ad-wrap" class="left relative">
					<div style="width: 90%; height: 30px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--foot-ad-wrap-->
			</div><!--body-main-cont-->
		</div><!--body-main-in-->
	</div><!--body-main-out-->
</div><!--body-main-wrap-->
@*footer*@
<div class="fly-to-top back-to-top">
	<i class="fa fa-angle-up fa-3"></i>
	<span class="to-top-text">To Top</span>
</div><!--fly-to-top-->
<div class="fly-fade">
</div><!--fly-fade-->


