@using BusinessObjects.Models;

@{
	var category = (CategoriesArticle)ViewBag.CategoryDetail;
	var listArticle = (IEnumerable<Article>)ViewBag.Articles;

	var listTop4 = listArticle.Take(4);
	var listRemain = listArticle.Skip(4);

	var tempCategory = category;
	List<CategoriesArticle> listCategory = new List<CategoriesArticle>();
	listCategory.Add(tempCategory);
	while (tempCategory.ParentCategory != null)
	{
		tempCategory = tempCategory.ParentCategory;
		listCategory.Insert(0, tempCategory);
	}
}

<div id="body-main-wrap" class="left relative">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		@foreach (var cate in listCategory)
		{
			if (cate.CategoryId == listCategory[listCategory.Count - 1].CategoryId)
			{
				<li class="breadcrumb-item active"><a href="#">@cate.CategoryName</a></li>
			}
			else
			{
				<li class="breadcrumb-item"><a href="#">@cate.CategoryName</a></li>
			}
		}
	</ol>
	<div class="body-main-out relative">
		<div class="body-main-in">
			<div id="body-main-cont" class="left relative">
				<div id="leader-wrap" class="left relative">
					<div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--leader-wrap-->
				<h1 class="cat-head left">Business</h1>
				<div id="feat-top-wrap" class="left relative">
					<div class="feat-top2-left-wrap left relative">
						@{
							var b = listTop4.Take(1).ToList()[0];
							<div class="feat-top2-left left relative">
								<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@b.Slug" rel="bookmark">
									<div class="feat-top2-left-img left relative">
										<img width="1000" height="600" src="@b.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" srcset="@b.CoverImage 1000w, @b.CoverImage 300w, @b.CoverImage 1024w, @b.CoverImage 450w, @b.CoverImage 1600w" sizes="(max-width: 1000px) 100vw, 1000px" />
									</div><!--feat-top-left-img-->
									<div style="width:100%;" class="feat-top2-left-text">
										<span class="feat-cat">@b.Categorty.CategoryName</span>
										<h2>@b.Title</h2>
										<p>@b.AuthorNavigation.DisplayName: @b.ShortDescription</p>
									</div><!--feat-top2-left-text-->
									<div class="feat-info-wrap">
										<div class="feat-info-views">
											<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@b.ViewArticles</span>
										</div><!--feat-info-views-->
										<div class="feat-info-comm">
											<i class="fa fa-comment"></i> <span class="feat-info-text">@b.Comments</span>
										</div><!--feat-info-comm-->
									</div><!--feat-info-wrap-->
								</a>
							</div>

							<!--feat-top2-left-->
						}

					</div><!--feat-top2-left-wrap-->
					<div class="feat-top2-right-wrap left relative">

						@foreach(var a in listTop4.Skip(1))
						{
							<div class="feat-top2-right left relative">
								<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@b.Slug" rel="bookmark">
								<div class="feat-top2-right-img left relative">
										<img width="450" height="270" src="@a.CoverImage" class="feat-top2-small wp-post-image" alt="" decoding="async" srcset="@a.CoverImage 450w, @a.CoverImage 300w, @a.CoverImage 1000w" sizes="(max-width: 450px) 100vw, 450px" />
										<img width="1000" height="600" src="@a.CoverImage" class="feat-top2-big wp-post-image" alt="" decoding="async" srcset="@a.CoverImage 1000w, @a.CoverImage 300w, @a.CoverImage 450w" sizes="(max-width: 1000px) 100vw, 1000px" />
								</div><!--feat-top2-right-img-->
									<div style="width:100%;" class="feat-top2-right-text">
									<span class="feat-cat">@a.Categorty.CategoryName</span>
									<h2>@a.Title</h2>
								</div><!--feat-top2-right-text-->
								<div class="feat-info-wrap">
									<div class="feat-info-views">
										<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@a.ViewArticles</span>
									</div><!--feat-info-views-->
									<div class="feat-info-comm">
										<i class="fa fa-comment"></i> <span class="feat-info-text">@a.Comments.Count</span>
									</div><!--feat-info-comm-->
								</div><!--feat-info-wrap-->
							</a>
						 </div><!--feat-top2-right-->
						}
						
					</div><!--feat-top2-right-wrap-->
				</div><!--feat-top-wrap-->


				<div id="home-main-wrap" class="left relative">
					<div class="home-wrap-out1">
						<div class="home-wrap-in1">
							<div id="home-left-wrap" class="left relative">
								<div id="home-left-col" class="relative">
									<div id="home-mid-wrap" class="left relative">
										<div id="archive-list-wrap" class="left relative">
											<ul class="archive-col-list left relative infinite-content">

												@foreach(var a in listRemain)
												{
													<li class="infinite-post">
														<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@a.Slug" rel="bookmark" title="@a.Title">
															<div class="archive-list-out">
																<div class="archive-list-img left relative">
																	<img width="450" height="270" src="@a.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset=" @a.CoverImage 450w, @a.CoverImage 300w, @a.CoverImage 1000w" sizes="(max-width: 450px) 100vw, 450px" />															<img width="80" height="80" src="../../wp-content/uploads/2015/08/business-meeting-80x80.jpg" class="mob-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-meeting-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-meeting-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-meeting-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/business-meeting-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																															<div class="feat-info-wrap">
																		<div class="feat-info-views">
																			<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@a.ViewArticles</span>
																		</div><!--feat-info-views-->
																		<div class="feat-info-comm">
																			<i class="fa fa-comment"></i> <span class="feat-info-text">@a.Comments.Count</span>
																		</div><!--feat-info-comm-->
																	</div><!--feat-info-wrap-->
																</div><!--archive-list-img-->
																<div class="archive-list-in">
																	<div class="archive-list-text left relative">
																		<h2>@a.Title</h2>
																		<p>@a.ShortDescription</p>
																	</div><!--archive-list-text-->
																</div><!--archive-list-in-->
															</div><!--archive-list-out-->
														</a>
													</li>
												}
											</ul>
											<a href="#" class="inf-more-but">More Posts</a>
											<div class="nav-links">
											</div><!--nav-links-->
										</div><!--archive-list-wrap-->
									</div><!--home-mid-wrap-->
								</div><!--home-left-col-->
							</div><!--home-left-wrap-->
						</div><!--home-wrap-in1-->
						<div id="arch-right-col" class="relative">
							<div id="sidebar-wrap" class="left relative theiaStickySidebar">
								<div class="widget-ad left relative">
									<a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="~/template/www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
								</div><!--widget-ad-->
								<div id="mvp_facebook_widget-2" class="side-widget mvp_facebook_widget">
									<h4 class="post-header"><span class="post-header">Facebook</span></h4>			
									<div class="fb-page" data-href="http://www.facebook.com/envato" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"></div></div>
									<div id="fb-root"></div>
									<!--//<script>
									//	(function (d, s, id) {
									//		var js, fjs = d.getElementsByTagName(s)[0];
									//		if (d.getElementById(id)) return;
									//		js = d.createElement(s); js.id = id;
									//		js.src = "../../../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
									//		fjs.parentNode.insertBefore(js, fjs);
									//	}(document, 'script', 'facebook-jssdk'));</script>-->
								</div><div id="mvp_catlist_widget-6" class="side-widget mvp_catlist_widget">
									<h4 class="post-header"><span class="post-header">Latest News</span></h4>			<div class="blog-widget-wrap left relative">
										<ul class="blog-widget-list left relative">
											<li>
												<a href="../../flex-mag-powerfully-simple-wordpress-theme/index.html" rel="bookmark">
													<div class="blog-widget-img left relative">
														<img width="300" height="180" src="../../wp-content/uploads/2015/09/woman-beach2-300x180.jpg" class="widget-img-main wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-300x180.jpg 300w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1024x614.jpg 1024w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-1000x600.jpg 1000w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-450x270.jpg 450w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2.jpg 1600w" sizes="(max-width: 300px) 100vw, 300px" />									<img width="80" height="80" src="../../wp-content/uploads/2015/09/woman-beach2-80x80.jpg" class="widget-img-side wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-80x80.jpg 80w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-150x150.jpg 150w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-180x180.jpg 180w, https://mvpthemes.com/flexmag/wp-content/uploads/2015/09/woman-beach2-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px" />																		<div class="feat-info-wrap">
															<div class="feat-info-views">
																<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">45.4K</span>
															</div><!--feat-info-views-->
															<div class="feat-info-comm">
																<i class="fa fa-comment"></i> <span class="feat-info-text">29</span>
															</div><!--feat-info-comm-->
														</div><!--feat-info-wrap-->
													</div><!--blog-widget-img-->
													<div class="blog-widget-text left relative">
														<span class="side-list-cat">Business</span>
														<h2>Flex Mag: Powerfully simple WordPress theme</h2>
														<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et...</p>
													</div><!--blog-widget-text-->
												</a>
											</li>
										</ul>
									</div><!--blog-widget-wrap-->
								</div>
							</div><!--sidebar-wrap-->
						</div><!--home-right-col-->
					</div><!--home-wrap-out1-->
				</div><!--home-main-wrap-->
				<div id="foot-ad-wrap" class="left relative">
					<div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--foot-ad-wrap-->
			</div><!--body-main-cont-->
		</div><!--body-main-in-->
	</div><!--body-main-out-->
</div><!--body-main-wrap-->