@using BusinessObjects.Models;
@using WebNewsAPIs.Dtos;
@{

	var article =(Article) ViewBag.Article;
	var listArticle = (IEnumerable<Article>) ViewBag.ListArticle;
	var category = (CategoriesArticle)ViewBag.CategoryOfArticle;
	var listArticleRecommend = (List<ViewArticleDto>)ViewBag.ListArticleRecomend;

	var tempCategory = category;
	List<CategoriesArticle> listCategory = new List<CategoriesArticle>();
	listCategory.Add(tempCategory);
	while(tempCategory.ParentCategory != null)
	{
		
		tempCategory = tempCategory.ParentCategory; 
		listCategory.Insert(0, tempCategory);
	}
}


<div id="body-main-wrap" class="left relative" itemscope itemtype="http://schema.org/NewsArticle">
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="../amazon-flex-could-be-a-new-way-to-get-your-packages-report-says/index.html" />
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		@foreach (var cate in listCategory)
		{
			if(cate.CategoryId == listCategory[listCategory.Count - 1].CategoryId)
			{
				<li class="breadcrumb-item active"><a href="#">@cate.CategoryName</a></li>
			}
			else
			{
				<li class="breadcrumb-item"><a href="#">@cate.CategoryName</a></li>
			}

		}
	</ol>
	
	<div class="body-main-out relative">
		<div class="body-main-in">
			<div id="body-main-cont" class="left relative">
				<div id="leader-wrap" class="left relative">
					<div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--leader-wrap-->
				<div id="post-main-wrap" class="left relative">
					<div class="post-wrap-out1">
						<div class="post-wrap-in1">
							<div id="post-left-col" class="relative">
								<article id="post-area" class="post-156 post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-ces-2015 tag-mobile-phones tag-selfie-stick tag-tech">
									<header id="post-header">
										<a class="post-cat-link" href="../category/tech/index.html"><span class="post-head-cat">@category.CategoryName</span></a>
										<h1 class="post-title entry-title left" itemprop="headline">@article.Title</h1>
										<div id="post-info-wrap" class="left relative">
											<div class="post-info-out">
												<div class="post-info-img left relative">
													<img alt='' src='@article.AuthorNavigation.Image;d=mm&amp;r=g' srcset='@article.AuthorNavigation.Image;d=mm&#038;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' decoding='async' />
												</div><!--post-info-img-->
												<div class="post-info-in">
													<div class="post-info-right left relative">
														<div class="post-info-name left relative" itemprop="author" itemscope itemtype="https://schema.org/Person">
															<span class="post-info-text">By</span> <span class="author-name vcard fn author" itemprop="name"><a href="../author/fanpress/index.html" title="Posts by Flex Mag Staff" rel="author">@article.AuthorNavigation.DisplayName</a></span> <span class="author-twitter"><a href="http://www.twitter.com/mvpthemes" class="twitter-but" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></span> <span class="author-email"><a href="mailto:mvpthemes.alt@gmail.com"><i class="fa-solid fa-envelope"></i></a></span>
														</div><!--post-info-name-->
														<div class="post-info-date left relative">
															<span class="post-info-text">Posted on</span> <span class="post-date updated"><time class="post-date updated" itemprop="datePublished" datetime="@article.CreatedDate">@article.CreatedDate</time></span>
															<meta itemprop="dateModified" content="@article.CreatedDate" />
														</div><!--post-info-date-->
													</div><!--post-info-right-->
												</div><!--post-info-in-->
											</div><!--post-info-out-->
										</div><!--post-info-wrap-->
									</header><!--post-header-->
									<div id="post-feat-img" class="left relative" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
										<img width="1000" height="600" src="@article.CoverImage" class="attachment- size- wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="@article.CoverImage 1000w, @article.CoverImage 300w, @article.CoverImage 450w" sizes="(max-width: 1000px) 100vw, 1000px" />																								<meta itemprop="url" content="../wp-content/uploads/2015/08/selfie-stick.jpg">
										<meta itemprop="width" content="1000">
										<meta itemprop="height" content="600">
										<div class="post-feat-text">
											<span class="post-excerpt left">
												<p>@article.ShortDescription</p>
											</span>
											<span class="feat-caption">Author: @article.AuthorNavigation.DisplayName</span>
										</div><!--post-feat-text-->
									</div><!--post-feat-img-->
									<div id="content-area" itemprop="articleBody" class="post-156 post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-ces-2015 tag-mobile-phones tag-selfie-stick tag-tech">
										<div class="post-cont-out">
											<div class="post-cont-in">
												<div id="content-main" class="left relative">


													<section class="social-sharing-top">
														<a href="#" onclick="window.open(`http://www.facebook.com/sharer.php?u=${@Url.ActionLink(action:"ArticleDetail", controller:"Article", values: new{slug = article.Slug})};t=${@article.Title}`, 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook"><div class="facebook-share"><span class="fb-but1"><i class="fa-brands fa-square-facebook"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('http://twitter.com/share?text=The%20selfie%20stick%20has%20taken%20over%20CES%202015%20-&amp;url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><div class="twitter-share"><span class="twitter-but1"><i class="fa-brands fa-square-twitter"></i></span><span class="social-text">Tweet</span></div></a>
														<a href="whatsapp://send?text=The selfie stick has taken over CES 2015 https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="whatsapp-share"><span class="whatsapp-but1"><i class="fa-brands fa-square-whatsapp"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/&amp;media=https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick.jpg&amp;description=The%20selfie%20stick%20has%20taken%20over%20CES%202015', 'pinterestShare', 'width=750,height=350'); return false;" title="Pin This Post"><div class="pinterest-share"><span class="pinterest-but1"><i class="fa-brands fa-square-pinterest"></i></span><span class="social-text">Share</span></div></a>
														<a href="mailto:?subject=The selfie stick has taken over CES 2015&amp;BODY=I found this article interesting and thought of sharing it with you. Check it out: https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="email-share"><span class="email-but"><i class="fa-solid fa-envelope"></i></span><span class="social-text">Email</span></div></a>
														<a href="index.html#comments"><div class="social-comments comment-click-156"><i class="fa-solid fa-comment-dots"></i><span class="social-text-com">Comments</span></div></a>
													</section><!--social-sharing-top-->
													<p>@article.Content</p>

													<div class="mvp-org-wrap" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
														<div class="mvp-org-logo" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
															<img src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-fashion.png" alt="Flex Mag" />
															<meta itemprop="url" content="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-fashion.png">
														</div><!--mvp-org-logo-->
														<meta itemprop="name" content="Flex Mag">
													</div><!--mvp-org-wrap-->


													<div class="posts-nav-link">
													</div><!--posts-nav-link-->
													<div class="post-tags">
														<span class="post-tags-header">Related Items:</span><span itemprop="keywords"><a href="../tag/ces-2015/index.html" rel="tag">CES 2015</a>, <a href="../tag/mobile-phones/index.html" rel="tag">Mobile Phones</a>, <a href="../tag/selfie-stick/index.html" rel="tag">Selfie Stick</a>, <a href="../tag/tech/index.html" rel="tag">Tech</a></span>
													</div><!--post-tags-->

													<div class="social-sharing-bot">
														<a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/&amp;t=The%20selfie%20stick%20has%20taken%20over%20CES%202015', 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook"><div class="facebook-share"><span class="fb-but1"><i class="fa-brands fa-square-facebook"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('https://twitter.com/intent/tweet?text=The%20selfie%20stick%20has%20taken%20over%20CES%202015%20-&amp;url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><div class="twitter-share"><span class="twitter-but1"><i class="fa-brands fa-square-twitter"></i></span><span class="social-text">Tweet</span></div></a>
														<a href="whatsapp://send?text=The selfie stick has taken over CES 2015 https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="whatsapp-share"><span class="whatsapp-but1"><i class="fa-solid fa-envelope"></i></span><span class="social-text">Share</span></div></a>
														<a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/&amp;media=https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick.jpg&amp;description=The%20selfie%20stick%20has%20taken%20over%20CES%202015', 'pinterestShare', 'width=750,height=350'); return false;" title="Pin This Post"><div class="pinterest-share"><span class="pinterest-but1"><i class="fa-brands fa-square-pinterest"></i></span><span class="social-text">Share</span></div></a>
														<a href="mailto:?subject=The selfie stick has taken over CES 2015&amp;BODY=I found this article interesting and thought of sharing it with you. Check it out: https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="email-share"><span class="email-but"><i class="fa-solid fa-envelope"></i></span><span class="social-text">Email</span></div></a>
													</div><!--social-sharing-bot-->
													<div class="mvp-related-posts left relative">
														<h4 class="post-header"><span class="post-header">Recommended for you</span></h4>
														<ul>
															@foreach (var a in listArticleRecommend)
															{
																<li>
																	<div class="mvp-related-img left relative">
																		<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@a.Slug" rel="bookmark" title="Sound-isolating headphones let you really hear your own voice">
																			<img width="300" height="180" src="@a.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" srcset="@a.CoverImage 300w, @a.CoverImage 450w, @a.CoverImage 1000w" sizes="(max-width: 300px) 100vw, 300px" />					
																		</a>
																	</div><!--related-img-->
																	<div class="mvp-related-text left relative">
																		<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@a.Slug">@a.Title</a>
																	</div><!--related-text-->
																</li>
															}

														</ul>
													</div>																															<div id="article-ad">
														<div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
													</div><!--article-ad-->


													<div id="comments-button" class="left relative comment-click-156 com-but-156">
														<span class="comment-but-text">9 Comments</span>
													</div><!--comments-button-->
													<div id="comments" class="com-click-id-156 com-click-main">
														<h4 class="post-header">
															<span class="post-header">
																9 Comments
															</span>
														</h4>
														<ol class="commentlist">
															<li class="comment byuser comment-author-fanpress bypostauthor even thread-even depth-1" id="li-comment-93">
																<div class="comment-wrapper" id="comment-93">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/ace9a57f1346d0657bcedfa39507830e?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">Flex Mag Staff</cite>
																			</p>
																			<p class="comment-meta-2">
																				September 23, 2015 at 7:52 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index3518.html?replytocom=93#respond' data-commentid="93" data-postid="156" data-belowelement="comment-93" data-respondelement="respond" data-replyto="Reply to Flex Mag Staff" aria-label='Reply to Flex Mag Staff'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
																<ul class="children">
																	<li class="comment odd alt depth-2" id="li-comment-128">
																		<div class="comment-wrapper" id="comment-128">
																			<div class="comment-inner">
																				<div class="comment-avatar">
																					<img alt='' src='https://secure.gravatar.com/avatar/41c46f78ec1936062f23d6701ed9c3a1?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/41c46f78ec1936062f23d6701ed9c3a1?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																				</div>
																				<div class="commentmeta">
																					<p class="comment-meta-1">
																						<cite class="fn"><a href="http://yfumfuyf.com/" class="url" rel="ugc external nofollow">ncvnv</a></cite>
																					</p>
																					<p class="comment-meta-2">
																						October 17, 2015 at 12:51 pm
																					</p>
																				</div>
																				<div class="text">
																					<div class="c">
																						<p>hgjghjhgm</p>
																					</div>
																				</div><!-- .text  -->
																				<div class="clear"></div>
																				<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexc36c.html?replytocom=128#respond' data-commentid="128" data-postid="156" data-belowelement="comment-128" data-respondelement="respond" data-replyto="Reply to ncvnv" aria-label='Reply to ncvnv'>Reply</a></span></div>
																			</div><!-- comment-inner  -->
																		</div><!-- comment-wrapper  -->
																		<ul class="children">
																			<li class="comment even depth-3" id="li-comment-1260">
																				<div class="comment-wrapper" id="comment-1260">
																					<div class="comment-inner">
																						<div class="comment-avatar">
																							<img alt='' src='https://secure.gravatar.com/avatar/64ded4ecfad1ecdeea41c799be92074c?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/64ded4ecfad1ecdeea41c799be92074c?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																						</div>
																						<div class="commentmeta">
																							<p class="comment-meta-1">
																								<cite class="fn">mollx</cite>
																							</p>
																							<p class="comment-meta-2">
																								January 17, 2017 at 8:57 am
																							</p>
																						</div>
																						<div class="text">
																							<div class="c">
																								<p>test</p>
																							</div>
																						</div><!-- .text  -->
																						<div class="clear"></div>
																						<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index71e7.html?replytocom=1260#respond' data-commentid="1260" data-postid="156" data-belowelement="comment-1260" data-respondelement="respond" data-replyto="Reply to mollx" aria-label='Reply to mollx'>Reply</a></span></div>
																					</div><!-- comment-inner  -->
																				</div><!-- comment-wrapper  -->
																			</li><!-- #comment-## -->
																			<li class="comment odd alt depth-3" id="li-comment-1261">
																				<div class="comment-wrapper" id="comment-1261">
																					<div class="comment-inner">
																						<div class="comment-avatar">
																							<img alt='' src='https://secure.gravatar.com/avatar/64ded4ecfad1ecdeea41c799be92074c?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/64ded4ecfad1ecdeea41c799be92074c?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																						</div>
																						<div class="commentmeta">
																							<p class="comment-meta-1">
																								<cite class="fn">mollx</cite>
																							</p>
																							<p class="comment-meta-2">
																								January 17, 2017 at 8:58 am
																							</p>
																						</div>
																						<div class="text">
																							<div class="c">
																								<p>testwefwefwefwefwefgfsdkgjewkrgpisrejfsdlk;g</p>
																							</div>
																						</div><!-- .text  -->
																						<div class="clear"></div>
																						<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexcc8c.html?replytocom=1261#respond' data-commentid="1261" data-postid="156" data-belowelement="comment-1261" data-respondelement="respond" data-replyto="Reply to mollx" aria-label='Reply to mollx'>Reply</a></span></div>
																					</div><!-- comment-inner  -->
																				</div><!-- comment-wrapper  -->
																			</li><!-- #comment-## -->
																		</ul><!-- .children -->
																	</li><!-- #comment-## -->
																</ul><!-- .children -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-129">
																<div class="comment-wrapper" id="comment-129">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/41c46f78ec1936062f23d6701ed9c3a1?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/41c46f78ec1936062f23d6701ed9c3a1?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://yfumfuyf.com/" class="url" rel="ugc external nofollow">ncvnv</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				October 17, 2015 at 12:52 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>76i6iui</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='indexe3f2.html?replytocom=129#respond' data-commentid="129" data-postid="156" data-belowelement="comment-129" data-respondelement="respond" data-replyto="Reply to ncvnv" aria-label='Reply to ncvnv'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-134">
																<div class="comment-wrapper" id="comment-134">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/3bcee353e9170aad2893aa8b0ee0af2b?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/3bcee353e9170aad2893aa8b0ee0af2b?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">booya</cite>
																			</p>
																			<p class="comment-meta-2">
																				October 22, 2015 at 6:00 am
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>testing&#8230;.testing&#8230;.testing&#8230;.testing&#8230;.testing!</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index6f76.html?replytocom=134#respond' data-commentid="134" data-postid="156" data-belowelement="comment-134" data-respondelement="respond" data-replyto="Reply to booya" aria-label='Reply to booya'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-313">
																<div class="comment-wrapper" id="comment-313">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/e9230f52a03805012989fa79aba712c0?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/e9230f52a03805012989fa79aba712c0?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://www.fdsfsdfsdf.tt/" class="url" rel="ugc external nofollow">djfhsdfh</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				January 10, 2016 at 5:11 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>bla bla</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index583a.html?replytocom=313#respond' data-commentid="313" data-postid="156" data-belowelement="comment-313" data-respondelement="respond" data-replyto="Reply to djfhsdfh" aria-label='Reply to djfhsdfh'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment odd alt thread-even depth-1" id="li-comment-751">
																<div class="comment-wrapper" id="comment-751">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/3cdb812b6c9df5fb02af859ee90dfaf2?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/3cdb812b6c9df5fb02af859ee90dfaf2?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn"><a href="http://dsds/" class="url" rel="ugc external nofollow">vdfsbf</a></cite>
																			</p>
																			<p class="comment-meta-2">
																				April 21, 2016 at 7:25 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index04c0.html?replytocom=751#respond' data-commentid="751" data-postid="156" data-belowelement="comment-751" data-respondelement="respond" data-replyto="Reply to vdfsbf" aria-label='Reply to vdfsbf'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
															<li class="comment even thread-odd thread-alt depth-1" id="li-comment-1039">
																<div class="comment-wrapper" id="comment-1039">
																	<div class="comment-inner">
																		<div class="comment-avatar">
																			<img alt='' src='https://secure.gravatar.com/avatar/a6a420d4927f7e0e3b140c76d0a78c22?s=46&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/a6a420d4927f7e0e3b140c76d0a78c22?s=92&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />
																		</div>
																		<div class="commentmeta">
																			<p class="comment-meta-1">
																				<cite class="fn">cloud</cite>
																			</p>
																			<p class="comment-meta-2">
																				September 17, 2016 at 4:24 pm
																			</p>
																		</div>
																		<div class="text">
																			<div class="c">
																				<p>this is s test comment</p>
																			</div>
																		</div><!-- .text  -->
																		<div class="clear"></div>
																		<div class="comment-reply"><span class="reply"><a rel='nofollow' class='comment-reply-link' href='index0612.html?replytocom=1039#respond' data-commentid="1039" data-postid="156" data-belowelement="comment-1039" data-respondelement="respond" data-replyto="Reply to cloud" aria-label='Reply to cloud'>Reply</a></span></div>
																	</div><!-- comment-inner  -->
																</div><!-- comment-wrapper  -->
															</li><!-- #comment-## -->
														</ol>


														<div id="respond" class="comment-respond">
															<h3 id="reply-title" class="comment-reply-title"><div><h4 class="post-header"><span class="post-header">Leave a Reply</span></h4></div> <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3><form action="https://mvpthemes.com/flexmag/wp-comments-post.php" method="post" id="commentform" class="comment-form">
																<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> <span class="required-field-message">Required fields are marked <span class="required">*</span></span></p><p class="comment-form-comment"><label for="comment">Comment <span class="required">*</span></label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required="required" /></p>
																<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" autocomplete="email" required="required" /></p>
																<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="text" value="" size="30" maxlength="200" autocomplete="url" /></p>
																<p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
																<p class="form-submit">
																	<input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='156' id='comment_post_ID' />
																	<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
																</p><!-- Anti-spam plugin wordpress.org/plugins/anti-spam/ --><div class="wantispam-required-fields">
																	<input type="hidden" name="wantispam_t" class="wantispam-control wantispam-control-t" value="1716311240" /><div class="wantispam-group wantispam-group-q" style="clear: both;">
																		<label>Current ye@r <span class="required">*</span></label>
																		<input type="hidden" name="wantispam_a" class="wantispam-control wantispam-control-a" value="2024" />
																		<input type="text" name="wantispam_q" class="wantispam-control wantispam-control-q" value="7.3.5" autocomplete="off" />
																	</div>
																	<div class="wantispam-group wantispam-group-e" style="display: none;">
																		<label>Leave this field empty</label>
																		<input type="text" name="wantispam_e_email_url_website" class="wantispam-control wantispam-control-e" value="" autocomplete="off" />
																	</div>
																</div><!--\End Anti-spam plugin -->
															</form>
														</div><!-- #respond -->

													</div><!--comments-->
												</div><!--content-main-->
											</div><!--post-cont-in-->
											<div id="post-sidebar-wrap">
												<img src="~/template/www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x600.jpg" />
											</div><!--post-sidebar-wrap-->
										</div><!--post-cont-out-->
									</div><!--content-area-->
								</article>


								<nav class="navigation post-navigation" aria-label="Posts">
									<h2 class="screen-reader-text">Post navigation</h2>
									<div class="nav-links"><div class="nav-previous"><a href="../how-to-gracefully-handle-multiple-job-offers-and-come-out-on-top/index.html" rel="prev">How to gracefully handle multiple job offers and come out on top</a></div><div class="nav-next"><a href="../sound-isolating-headphones-let-you-really-hear-your-own-voice/index.html" rel="next">Sound-isolating headphones let you really hear your own voice</a></div></div>
								</nav>
							</div><!--post-left-col-->
						</div><!--post-wrap-in1-->
						<div id="post-right-col" class="relative">
							<div class="side-title-wrap left relative">
								<h3 class="side-list-title">Most Popular</h3>
							</div><!--side-title-wrap-->
							<div class="side-pop-wrap left relative">
								<div class="feat-widget-cont left relative">

									@foreach(var n in listArticle)
									{
										if(n.ArticleId != article.ArticleId)
										{
										<div class="feat-widget-wrap left relative">
											<a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@n.Slug">
												<div class="feat-widget-img left relative">
													<img width="300" height="180" src="@n.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="@n.CoverImage 300w, @n.CoverImage 450w, @n.CoverImage 1000w" sizes="(max-width: 300px) 100vw, 300px" />
													<div class="feat-info-wrap">
														<div class="feat-info-views">
															<i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@n.ViewArticles</span>
														</div><!--feat-info-views-->
														<div class="feat-info-comm">
															<i class="fa fa-comment"></i> <span class="feat-info-text">@n.Comments.Count</span>
														</div><!--feat-info-comm-->
													</div><!--feat-info-wrap-->
												</div><!--feat-widget-img-->
												<div class="feat-widget-text">
													<span class="side-list-cat">@n.Categorty.CategoryName</span>
													<h2>@n.Title</h2>
												</div><!--feat-widget-text-->
											</a>
										</div>
										}

										<!--feat-widget-wrap-->
									}
									
									<div class="widget-ad left relative pop-ad">
										<a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="~/template/www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
									</div><!--widget-ad-->
									
								</div><!--feat-widget-cont-->
							</div><!--side-pop-wrap-->
						</div><!--post-right-col-->
					</div><!--post-wrap-out1-->
				</div><!--post-main-wrap-->
				<div id="foot-ad-wrap" class="left relative">
					<div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
				</div><!--foot-ad-wrap-->
			</div><!--body-main-cont-->
		</div><!--body-main-in-->
	</div><!--body-main-out-->
</div><!--body-main-wrap-->