@using BusinessObjects.Models;
@using System.Text;
@using WebNewsAPIs.Dtos;
@{
    var userLogin = (ViewUserDto)ViewBag.UserLogin;
    var article = (Article)ViewBag.Article;
    var listArticle = (IEnumerable<Article>)ViewBag.ListArticle;
    var category = (CategoriesArticle)ViewBag.CategoryOfArticle;
    var listArticleRecommend = (List<ViewArticleDto>)ViewBag.ListArticleRecomend;
    var checkSave = (bool)ViewBag.CheckSave;
    var emotions = (List<Emotion>)ViewBag.Emotions;
    var quantityDropEmotionOfEachEmotion = (Dictionary<Guid, int>)ViewBag.QuantityDropEmotion;

    var checkUserDropEmotion = (ViewBag.CheckDropEmotion != null ? (Dictionary<Guid, bool>)ViewBag.CheckDropEmotion : null);


    string linkArticle = Url.ActionLink("ArticleDetail", "Article", new
    {
        slug = article.Slug
    });
    var tempCategory = category;
    List<CategoriesArticle> listCategory = new List<CategoriesArticle>();
    listCategory.Add(tempCategory);
    while (tempCategory.ParentCategory != null)
    {

        tempCategory = tempCategory.ParentCategory;
        listCategory.Insert(0, tempCategory);
    }

    // xu ly comment
    var comment = (IEnumerable<Comment>)ViewBag.Comments;

    var commentReplyForNull = comment.Where(c => c.ReplyFor == null);
    var commentReplyFor = comment.Where(c => c.ReplyFor != null);

    string pathImag = @"/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-ent.png";


    string GenerateCommentHtml(IEnumerable<Comment> comments, int depth)
    {
        StringBuilder sb = new StringBuilder();
        sb.AppendLine("<ol id=\"mainCommentArticle\" class=\"list-group commentlist\">");
        var margin = depth * 20;
        foreach (var comment in comments)
        {

            sb.AppendLine($"<li style=\"margin-left: {margin}px\" class=\"list-group-item\" id=\"li-comment-{comment.CommentId}\">");
            sb.AppendLine($"  <div class=\"comment-wrapper\" id=\"comment-{comment.CommentId}\">");
            sb.AppendLine($"    <div class=\"comment-inner\">");
            sb.AppendLine($"      <div class=\"comment-avatar\">");
            if (comment.User == null || comment.User.Image == null)
            {
                sb.AppendLine($"<img alt='' src='{pathImag}' srcset='{pathImag}&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />");
            }
            else
            {
                sb.AppendLine($"        <img alt='' src='{comment.User.Image}' srcset='{comment.User.Image}&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />");
            }
            sb.AppendLine($"      </div>");
            sb.AppendLine($"      <div class=\"commentmeta\">");
            sb.AppendLine($"        <p class=\"comment-meta-1\">");
            sb.AppendLine($"          <cite class=\"fn\">{comment.User.DisplayName}</cite>");
            sb.AppendLine($"        </p>");
            sb.AppendLine($"        <p class=\"comment-meta-2\">");
            sb.AppendLine($"          {comment.CreateDate.ToString("MMMM dd, yyyy hh:mm tt")}");
            sb.AppendLine($"        </p>");
            sb.AppendLine($"      </div>");
            sb.AppendLine($"      <div class=\"text\">");
            sb.AppendLine($"        <div class=\"c\">");
            sb.AppendLine($"          <p>{comment.Content}</p>");
            sb.AppendLine($"        </div>");
            sb.AppendLine($"      </div>");
            sb.AppendLine($"      <div class=\"clear\"></div>");
            sb.AppendLine($"      <div class=\"comment-reply\"><span class=\"reply\"><a rel='nofollow' class='comment-reply-link' href='index{comment.CommentId}.html?replytocom={comment.CommentId}#respond' data-commentid=\"{comment.CommentId}\" data-articleid=\"{article.ArticleId.ToString()}\" data-userid=\"{(userLogin == null ? "nologin" : userLogin.UserId.ToString())}\" data-postid =\"{comment.ArticleId}\" data-belowelement=\"comment-{comment.CommentId}\" data-respondelement=\"respond\" data-replyto=\"Reply to {comment.User.DisplayName}\" aria-label='Reply to {comment.User.DisplayName}'>Reply</a></span></div>");
            sb.AppendLine($"    </div>");
            sb.AppendLine($"  </div>");
            var listCommentReplyFor = commentReplyFor.Where(c => c.ReplyFor == comment.CommentId);

            if (listCommentReplyFor != null && listCommentReplyFor.Count() > 0)
            {
                var depnew = depth + 1;
                sb.AppendLine($"<ul class=\"list-group\">");
                sb.Append(GenerateSubCommentHtml(listCommentReplyFor, ++depnew));
                sb.AppendLine($"</ul>");
            }

        }
        sb.AppendLine("</li>");
        sb.AppendLine("</ol>");
        return sb.ToString();
    }

    string GenerateSubCommentHtml(IEnumerable<Comment> subComment, int depth)
    {
        StringBuilder sb = new StringBuilder();
        var margin = depth * 20;
        foreach (var comment in subComment)
        {
            sb.AppendLine($"<li style=\"margin-left: {margin}px\" class=\"list-group-item\" id=\"li-comment-{comment.CommentId}\">");
            sb.AppendLine($"  <div class=\"comment-wrapper\" id=\"comment-{comment.CommentId}\">");
            sb.AppendLine($"    <div class=\"comment-inner\">");
            sb.AppendLine($"      <div class=\"comment-avatar\">");
            if (comment.User == null || comment.User.Image == null)
            {
                sb.AppendLine($"<img alt='' src='{pathImag}' srcset='{pathImag}&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />");
            }
            else
            {
                sb.AppendLine($"        <img alt='' src='{comment.User.Image}' srcset='{comment.User.Image}&#038;d=mm&#038;r=g 2x' class='avatar avatar-46 photo' height='46' width='46' loading='lazy' decoding='async' />");
            }
            sb.AppendLine($"      </div>");
            sb.AppendLine($"      <div class=\"commentmeta\">");
            sb.AppendLine($"        <p class=\"comment-meta-1\">");
            sb.AppendLine($"          <cite class=\"fn\"><a href=\" \" class=\"url\" rel=\"ugc external nofollow\">{(comment.User == null ? "NO User" : comment.User.DisplayName)}></cite>");
            sb.AppendLine($"        </p>");
            sb.AppendLine($"        <p class=\"comment-meta-2\">");
            sb.AppendLine($"          {comment.CreateDate.ToString("MMMM dd, yyyy hh:mm tt")}");
            sb.AppendLine($"        </p>");
            sb.AppendLine($"      </div>");
            sb.AppendLine($"      <div class=\"text\">");
            sb.AppendLine($"        <div class=\"c\">");
            sb.AppendLine($"          <p>{comment.Content}</p>");
            sb.AppendLine($"        </div>");
            sb.AppendLine($"      </div>");
            sb.AppendLine($"      <div class=\"clear\"></div>");
            sb.AppendLine($"      <div class=\"comment-reply\"><span class=\"reply\"><a rel='nofollow' class='comment-reply-link' href='index{comment.CommentId}.html?replytocom={comment.CommentId}#respond'  data-commentid=\"{comment.CommentId}\" data-articleid=\"{article.ArticleId.ToString()}\" data-userid=\"{(userLogin == null ? "nologin" : userLogin.UserId.ToString())}\" data-postid =\"{comment.ArticleId}\" data-belowelement=\"comment-{comment.CommentId}\" data-respondelement=\"respond\" data-replyto=\"Reply to {comment.CommentId}\" aria-label='Reply to {comment.CommentId}'>Reply</a></span></div>");
            sb.AppendLine($"    </div>");
            sb.AppendLine($"  </div>");

            var listCommentReplyFor = commentReplyFor.Where(c => c.ReplyFor == comment.CommentId);
            if (listCommentReplyFor != null && listCommentReplyFor.Count() > 0)
            {
                var depnew = depth + 1;
                sb.AppendLine($"<ul class=\"list-group\">");
                sb.AppendLine(GenerateSubCommentHtml(listCommentReplyFor, depnew));
                sb.AppendLine($"</ul>");
            }
            sb.AppendLine("</li>");
        }

        return sb.ToString();
    }
}

<div id="body-main-wrap" class="left relative" itemscope itemtype="http://schema.org/NewsArticle">
    <div id="main_information_comment" data-articleid="@article.ArticleId.ToString()" data-userid="@(userLogin == null ? "nologin" : userLogin.UserId.ToString())"></div>
    <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="../amazon-flex-could-be-a-new-way-to-get-your-packages-report-says/index.html" />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        @foreach (var cate in listCategory)
        {
            if (cate.CategoryId == listCategory[listCategory.Count - 1].CategoryId)
            {
                <li class="breadcrumb-item active"><a href="#">@cate.CategoryName</a></li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="#">@cate.CategoryName</a></li>
            }

        }
    </ol>

    <div class="body-main-out relative">
        <div class="body-main-in">
            <div id="body-main-cont" class="left relative">
                <div id="leader-wrap" class="left relative">
                    <div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
                </div><!--leader-wrap-->
                <div id="post-main-wrap" class="left relative">
                    <div class="post-wrap-out1">
                        <div class="post-wrap-in1">
                            <div id="post-left-col" class="relative">
                                <div id="post-area" class="post-156 post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-ces-2015 tag-mobile-phones tag-selfie-stick tag-tech">
                                    <header id="post-header">
                                        <a class="post-cat-link" href="../category/tech/index.html"><span class="post-head-cat">@category.CategoryName</span></a>
                                        <h1 class="post-title entry-title left" itemprop="headline">@article.Title</h1>
                                        <div id="post-info-wrap" class="left relative">
                                            <div class="post-info-out">
                                                <div class="post-info-img left relative">
                                                    <img alt='' src='@article.AuthorNavigation.Image;d=mm&amp;r=g' srcset='@article.AuthorNavigation.Image;d=mm&#038;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' decoding='async' />
                                                </div><!--post-info-img-->
                                                <div class="post-info-in">
                                                    <div class="post-info-right left relative">
                                                        <div class="post-info-name left relative" itemprop="author" itemscope itemtype="https://schema.org/Person">
                                                            <span class="post-info-text">By</span> <span class="author-name vcard fn author" itemprop="name"><a href="../author/fanpress/index.html" title="Posts by Flex Mag Staff" rel="author">@article.AuthorNavigation.DisplayName</a></span> <span class="author-twitter"><a href="http://www.twitter.com/mvpthemes" class="twitter-but" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></span> <span class="author-email"><a href="mailto:mvpthemes.alt@gmail.com"><i class="fa-solid fa-envelope"></i></a></span>
                                                        </div><!--post-info-name-->
                                                        <div class="post-info-date left relative">
                                                            <span class="post-info-text">Posted on</span> <span class="post-date updated"><time class="post-date updated" itemprop="datePublished" datetime="@article.CreatedDate">@article.CreatedDate</time></span>
                                                            <meta itemprop="dateModified" content="@article.CreatedDate" />
                                                        </div><!--post-info-date-->
                                                    </div><!--post-info-right-->
                                                </div><!--post-info-in-->
                                            </div><!--post-info-out-->
                                        </div><!--post-info-wrap-->
                                    </header><!--post-header-->
                                    <div id="post-feat-img" class="left relative" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                        <img width="1000" height="600" src="@article.CoverImage" class="attachment- size- wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="@article.CoverImage 1000w, @article.CoverImage 300w, @article.CoverImage 450w" sizes="(max-width: 1000px) 100vw, 1000px" />																								<meta itemprop="url" content="../wp-content/uploads/2015/08/selfie-stick.jpg">
                                        <meta itemprop="width" content="1000">
                                        <meta itemprop="height" content="600">
                                        <div class="post-feat-text">
                                            <span class="post-excerpt left">
                                                <p>@article.ShortDescription</p>
                                            </span>
                                            <span class="feat-caption">Author: @article.AuthorNavigation.DisplayName</span>
                                        </div><!--post-feat-text-->
                                    </div><!--post-feat-img-->
                                    <div id="content-area" itemprop="articleBody" class="post-156 post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-ces-2015 tag-mobile-phones tag-selfie-stick tag-tech">
                                        <div class="post-cont-out">
                                            <div class="post-cont-in">
                                                <div id="content-main" class="left relative">


                                                    <section class="social-sharing-top">
                                                        <a href="#" onclick="window.open(`http://www.facebook.com/sharer.php?u=${@Url.ActionLink(action:"ArticleDetail", controller:"Article", values: new{slug = article.Slug})};t=${@article.Title}`, 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook"><div class="facebook-share"><span class="fb-but1"><i class="fa-brands fa-square-facebook"></i></span><span class="social-text">Share</span></div></a>
                                                        <a href="#" onclick="window.open('http://twitter.com/share?text=The%20selfie%20stick%20has%20taken%20over%20CES%202015%20-&amp;url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><div class="twitter-share"><span class="twitter-but1"><i class="fa-brands fa-square-twitter"></i></span><span class="social-text">Tweet</span></div></a>
                                                        <a href="whatsapp://send?text=The selfie stick has taken over CES 2015 https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="whatsapp-share"><span class="whatsapp-but1"><i class="fa-brands fa-square-whatsapp"></i></span><span class="social-text">Share</span></div></a>
                                                        <a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/&amp;media=https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick.jpg&amp;description=The%20selfie%20stick%20has%20taken%20over%20CES%202015', 'pinterestShare', 'width=750,height=350'); return false;" title="Pin This Post"><div class="pinterest-share"><span class="pinterest-but1"><i class="fa-brands fa-square-pinterest"></i></span><span class="social-text">Share</span></div></a>
                                                        <a href="mailto:?subject=The selfie stick has taken over CES 2015&amp;BODY=I found this article interesting and thought of sharing it with you. Check it out: https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="email-share"><span class="email-but"><i class="fa-solid fa-envelope"></i></span><span class="social-text">Email</span></div></a>
                                                        <a href="@linkArticle#comments"><div class="social-comments comment-click-156"><i class="fa-solid fa-comment-dots"></i><span class="social-text-com">Comments</span></div></a>
                                                    </section><!--social-sharing-top-->
                                                    <p>@article.Content</p>

                                                    <div class="mvp-org-wrap" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <div class="mvp-org-logo" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <img src="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-fashion.png" alt="Flex Mag" />
                                                            <meta itemprop="url" content="~/template/mvpthemes.com/flexmag/wp-content/themes/flex-mag/images/logos/logo-fashion.png">
                                                        </div><!--mvp-org-logo-->
                                                        <meta itemprop="name" content="Flex Mag">
                                                    </div><!--mvp-org-wrap-->


                                                    <div class="posts-nav-link">
                                                    </div><!--posts-nav-link-->
                                                    <div class="post-tags">
                                                        <span class="post-tags-header">Related Items:</span><span itemprop="keywords"><a href="../tag/ces-2015/index.html" rel="tag">CES 2015</a>, <a href="../tag/mobile-phones/index.html" rel="tag">Mobile Phones</a>, <a href="../tag/selfie-stick/index.html" rel="tag">Selfie Stick</a>, <a href="../tag/tech/index.html" rel="tag">Tech</a></span>
                                                    </div><!--post-tags-->

                                                    <div class="social-sharing-bot">

                                                        <div class="row">
                                                            @foreach (var e in emotions)
                                                            {
                                                                var checkDrop = checkUserDropEmotion == null ? false : checkUserDropEmotion[e.EmotionId];
                                                                <div data-emotionId="@e.EmotionId" class="col d-flex click_emotion">
                                                                    <img title="@e.NameEmotion" style="width:20px;height:20px;object-fit:cover" src="@e.Image" />
                                                                    <span class="numberDropEmotion @(checkDrop? "text-primary": "")" style="margin-left:5px">@quantityDropEmotionOfEachEmotion[e.EmotionId]</span>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>

                                                    <div class="social-sharing-bot">
                                                        <i title="Copy link bài viết" data-link="@linkArticle" id="copy_link_article" class="fa-solid fa-copy text-dark copy-link"></i>
                                                        <i title="In bài viết" id="print_click" class="fa-solid fa-print text-dark copy-link"></i>
                                                        <i title="Lưu bài viết" id="save_click" class="fa-regular fa-bookmark copy-link @(checkSave == true ? "text-primary" : "text-dark")"></i>
                                                        @* <a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/&amp;t=The%20selfie%20stick%20has%20taken%20over%20CES%202015', 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook"><div class="facebook-share"><span class="fb-but1"><i class="fa-brands fa-square-facebook"></i></span><span class="social-text">Share</span></div></a>
                                                        <a href="#" onclick="window.open('https://twitter.com/intent/tweet?text=The%20selfie%20stick%20has%20taken%20over%20CES%202015%20-&amp;url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><div class="twitter-share"><span class="twitter-but1"><i class="fa-brands fa-square-twitter"></i></span><span class="social-text">Tweet</span></div></a>
                                                        <a href="whatsapp://send?text=The selfie stick has taken over CES 2015 https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="whatsapp-share"><span class="whatsapp-but1"><i class="fa-solid fa-envelope"></i></span><span class="social-text">Share</span></div></a>
                                                        <a href="#" onclick="window.open('http://pinterest.com/pin/create/button/?url=https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/&amp;media=https://mvpthemes.com/flexmag/wp-content/uploads/2015/08/selfie-stick.jpg&amp;description=The%20selfie%20stick%20has%20taken%20over%20CES%202015', 'pinterestShare', 'width=750,height=350'); return false;" title="Pin This Post"><div class="pinterest-share"><span class="pinterest-but1"><i class="fa-brands fa-square-pinterest"></i></span><span class="social-text">Share</span></div></a>
                                                        <a href="mailto:?subject=The selfie stick has taken over CES 2015&amp;BODY=I found this article interesting and thought of sharing it with you. Check it out: https://mvpthemes.com/flexmag/the-selfie-stick-has-taken-over-ces-2015/"><div class="email-share"><span class="email-but"><i class="fa-solid fa-envelope"></i></span><span class="social-text">Email</span></div></a>*@
                                                    </div><!--social-sharing-bot-->
                                                    <div class="mvp-related-posts left relative">
                                                        <h4 class="post-header"><span class="post-header">Recommended for you</span></h4>
                                                        <ul>
                                                            @foreach (var a in listArticleRecommend)
                                                            {
                                                                <li>
                                                                    <div class="mvp-related-img left relative">
                                                                        <a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@a.Slug" rel="bookmark" title="Sound-isolating headphones let you really hear your own voice">
                                                                            <img width="300" height="180" src="@a.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" srcset="@a.CoverImage 300w, @a.CoverImage 450w, @a.CoverImage 1000w" sizes="(max-width: 300px) 100vw, 300px" />
                                                                        </a>
                                                                    </div><!--related-img-->
                                                                    <div class="mvp-related-text left relative">
                                                                        <a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@a.Slug">@a.Title</a>
                                                                    </div><!--related-text-->
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>																															<div id="article-ad">
                                                        <div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
                                                    </div><!--article-ad-->

                                                    <div id="comments-button" class="left relative comment-click-156 com-but-156">
                                                        <span class="comment-but-text">@comment.Count() Comments</span>
                                                    </div><!--comments-button-->
                                                    <div id="comments" class="com-click-id-156 com-click-main">
                                                        <h4 class="post-header">
                                                            <span class="post-header">
                                                                Comments
                                                            </span>
                                                        </h4>


                                                        @Html.Raw(GenerateCommentHtml(commentReplyForNull, 1))




                                                        @*ArticleId,UserId,Content,ReplyFor*@
                                                        <div id="respond" class="comment-respond">
                                                            <h3 id="reply-title" style="display:block;" class="comment-reply-title">
                                                                <div>
                                                                    <h4 class="post-header"><span class="post-header text-primary">Leave a Reply</span></h4>
                                                                </div>
                                                                <small>

                                                                    <a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond">Cancel reply</a>

                                                                </small>
                                                            </h3>
                                                            <form method="post" id="commentform" class="comment-form">
                                                                <p class="comment-notes">
                                                                    <span id="email-notes">Bạn Phải đăng nhập mới có thẻ commemt bài viết.</span>
                                                                    <span class="required-field-message">
                                                                        Required fields are marked
                                                                        <span class="required">*</span>
                                                                    </span>
                                                                </p>

                                                                <input id="articleId" type="hidden" name="ArticleId" />
                                                                <input id="userId" type="hidden" name="UserId" />
                                                                <input id="replyFor" type="hidden" name="ReplyFor" />

                                                                <p class="comment-form-comment">
                                                                    <label for="comment">
                                                                        Comment <span class="required">*</span>
                                                                    </label>
                                                                    <textarea id="comment" name="Content" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                                                                </p>

                                                                <p class="form-submit">
                                                                    <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                                                    <input type='hidden' name='comment_post_ID' value='156' id='comment_post_ID' />
                                                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                                </p><!-- Anti-spam plugin wordpress.org/plugins/anti-spam/ -->
                                                                <input type="hidden" name="wantispam_t" class="wantispam-control wantispam-control-t" value="1716311240" /><div class="wantispam-group wantispam-group-q" style="clear: both;">
                                                                    <label>Current ye@r <span class="required">*</span></label>
                                                                    <input type="hidden" name="wantispam_a" class="wantispam-control wantispam-control-a" value="2024" />
                                                                    <input type="hidden" name="wantispam_q" class="wantispam-control wantispam-control-q" value="7.3.5" autocomplete="off" />
                                                                </div>
                                                                <div class="wantispam-group wantispam-group-e" style="display: none;">
                                                                    <label>Leave this field empty</label>
                                                                    <input type="text" name="wantispam_e_email_url_website" class="wantispam-control wantispam-control-e" value="" autocomplete="off" />
                                                                </div>
                                                            </form>
                                                        </div><!-- #respond -->

                                                    </div><!--comments-->
                                                </div><!--content-main-->
                                            </div><!--post-cont-in-->
                                            <div id="post-sidebar-wrap">
                                                <img src="~/template/www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x600.jpg" />
                                            </div><!--post-sidebar-wrap-->
                                        </div><!--post-cont-out-->
                                    </div><!--content-area-->
                                </div>


                                <nav class="navigation post-navigation" aria-label="Posts">
                                    <h2 class="screen-reader-text">Post navigation</h2>
                                    <div class="nav-links"><div class="nav-previous"><a href="../how-to-gracefully-handle-multiple-job-offers-and-come-out-on-top/index.html" rel="prev">How to gracefully handle multiple job offers and come out on top</a></div><div class="nav-next"><a href="../sound-isolating-headphones-let-you-really-hear-your-own-voice/index.html" rel="next">Sound-isolating headphones let you really hear your own voice</a></div></div>
                                </nav>
                            </div><!--post-left-col-->
                        </div><!--post-wrap-in1-->
                        <div id="post-right-col" class="relative">
                            <div class="side-title-wrap left relative">
                                <h3 class="side-list-title">Most Popular</h3>
                            </div><!--side-title-wrap-->
                            <div class="side-pop-wrap left relative">
                                <div class="feat-widget-cont left relative">

                                    @foreach (var n in listArticle)
                                    {
                                        if (n.ArticleId != article.ArticleId)
                                        {
                                            <div class="feat-widget-wrap left relative">
                                                <a asp-controller="Article" asp-action="ArticleDetail" asp-route-slug="@n.Slug">
                                                    <div class="feat-widget-img left relative">
                                                        <img width="300" height="180" src="@n.CoverImage" class="reg-img wp-post-image" alt="" decoding="async" loading="lazy" srcset="@n.CoverImage 300w, @n.CoverImage 450w, @n.CoverImage 1000w" sizes="(max-width: 300px) 100vw, 300px" />
                                                        <div class="feat-info-wrap">
                                                            <div class="feat-info-views">
                                                                <i class="fa fa-eye fa-2"></i> <span class="feat-info-text">@n.ViewArticles</span>
                                                            </div><!--feat-info-views-->
                                                            <div class="feat-info-comm">
                                                                <i class="fa fa-comment"></i> <span class="feat-info-text">@n.Comments.Count</span>
                                                            </div><!--feat-info-comm-->
                                                        </div><!--feat-info-wrap-->
                                                    </div><!--feat-widget-img-->
                                                    <div class="feat-widget-text">
                                                        <span class="side-list-cat">@n.Categorty.CategoryName</span>
                                                        <h2>@n.Title</h2>
                                                    </div><!--feat-widget-text-->
                                                </a>
                                            </div>
                                        }

                                        <!--feat-widget-wrap-->
                                    }

                                    <div class="widget-ad left relative pop-ad">
                                        <a href="http://themeforest.net/item/flex-mag-responsive-wordpress-news-theme/12772303?ref=mvpthemes" target="_blank"><img src="~/template/www.mvpthemes.com/flexmag/wp-content/uploads/2015/09/flex300x250.jpg" /></a>
                                    </div><!--widget-ad-->

                                </div><!--feat-widget-cont-->
                            </div><!--side-pop-wrap-->
                        </div><!--post-right-col-->
                    </div><!--post-wrap-out1-->
                </div><!--post-main-wrap-->
                <div id="foot-ad-wrap" class="left relative">
                    <div style="width: 90%; height: 60px; background: #ddd; text-align: center; display: inline-block; color: #bbb; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1.2rem; white-space: nowrap; padding: 30px 5% 0; overflow: hidden;">RESPONSIVE LEADERBOARD AD AREA</div>
                </div><!--foot-ad-wrap-->
            </div><!--body-main-cont-->
        </div><!--body-main-in-->
    </div><!--body-main-out-->
</div><!--body-main-wrap-->
<div id="hide_content" style="width:1000px;padding-left:50px;padding-right:50px;padding-top:20px;padding-bottom:20px;display:none;">
    <p>Ngày tạo bài : @article.CreatedDate.ToString("dd/MM/yyyy - hh:mm:ss")</p>
    <p>Tác giả : @(article.AuthorNavigation == null ? "Không có tác giả" : article.AuthorNavigation.DisplayName) </p>
    <h1>Tiêu đề bài viết : @article.Title</h1>
    <small>Thể loại bài viết : @article.Categorty.CategoryName</small>
    <p><i>(Báo Huy Hưng)</i> - @article.ShortDescription</p>
    <img style="width:1000px;height:600px;object-fit:cover" src="@article.CoverImage" />
    <p>@article.Content</p>
    <p>Link Nội dung : <a href="@linkArticle">@linkArticle</a></p>


</div>
@section Scripts{
    <script src="~/js/comments.js" asp-append-version="true"></script>*
}