@{
    Layout = "_LayoutMainAdmin";
}
@using BusinessObjects.Models;
@using System.Text;
@using WebNewsAPIs.Dtos;
@{
    var article = ((IEnumerable<Article>)ViewBag.listArticle).ToList();
}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Danh sách bài báo</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Bài báo</li>
                            <li class="breadcrumb-item active">Danh sách bài báo</li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt>
                            Chỗ để thời gian - dòng 260
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <div class="box_right d-flex lms_block">
                                    <div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Tên bài báo</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Miêu tả ngắn</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tên tác giả</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Thể loại</label>
                                                <select class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    <option value="1">Giải trí</option>
                                                    <option value="1">Thế giới</option>
                                                    <option value="1">Quân sự</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Ngày đăng</label>
                                                <div class="common_input mb_15">
                                                    <input type="date" value="2022-02-22">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Lần cập nhật cuối</label>
                                                <div class="common_input mb_15">
                                                    <input type="date" value="2022-02-22">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Đăng tải</label>
                                                <select class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    <option value="0">Đã đăng</option>
                                                    <option value="1">Chưa đăng</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tình trạng hiện tại</label>
                                                <select class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    <option value="1">Chưa xử lý</option>
                                                    <option value="1">Đang xử lý</option>
                                                    <option value="1">Đã xử lý</option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <div class="create_report_btn mt_30">
                                                    <a href="#" class="btn_1 radius_btn d-block text-center">Tìm kiếm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên bài báo</th>
                                            <th scope="col">Miêu tả ngắn</th>
                                            <th scope="col">Tên tác giả</th>
                                            <th scope="col">Thể loại</th>
                                            <th scope="col">Ngày đăng</th>
                                            <th scope="col">Lần cập nhật cuối</th>
                                            <th scope="col">Đăng tải</th>
                                            <th scope="col">Tình trạng hiện tại</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (article.Count == 0)
                                        {
                                            <div class="card border-primary mb-3" style="max-width: 100%;">
                                                <div class="card-header">Không nhận được danh sách</div>
                                            </div>
                                        }
                                        @if (article.Count != 0)
                                        {
                                            @foreach (var a in article)
                                            {
                                                <tr>
                                                    <th>@a.Title</th>
                                                    <td>@a.ShortDescription</td>
                                                    <td>@a.AuthorNavigation.DisplayName</td>
                                                    <td>@a.Categorty.CategoryName</td>
                                                    <td><p>@a.PublishDate</p></td>
                                                    @switch (a.UpdatedDate)
                                                    {
                                                        case null:
                                                            <td><p>Chưa cập nhật</p></td>
                                                            break;

                                                        case not null:
                                                            <td><p>@a.UpdatedDate</p></td>
                                                            break;
                                                    }
                                                    @switch (a.IsPublish)
                                                    {
                                                        case true:
                                                            <td><h3 class="badge bg-success">Đã đăng</h3></td>
                                                            break;

                                                        case false:
                                                            <td><h3 class="badge bg-danger">Chưa đăng</h3></td>
                                                            break;
                                                    }
                                                    <td><h3 class="badge bg-success">@a.StatusProcessNavigation.NameProcess</h3></td>
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                            <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>