@using BusinessObjects.Models;
@using WebNewsAPIs.Dtos;
@{
    Layout = "_LayoutMainAdmin";
    var selectListTime = (SelectList)ViewBag.SelectListTimes;
    var selectListCategory = (SelectList)ViewBag.SelectListCategorys;
    var selectListAuthors = (SelectList)ViewBag.SelectListAuthors;
    var selectListProcess = (SelectList)ViewBag.SelectListProcess;
    var selectListPublish = (SelectList)ViewBag.SelectLisPublishs;

    var currentPage = (int)ViewBag.CurrentPage;
    var keySearch = (string)ViewBag.KeySearch;
    var categoryid = (Guid)ViewBag.CategoryId;
    var time = (string)ViewBag.Time;
    var process = (int)ViewBag.Process;
    var statusPublish = (int)ViewBag.StatusPublish;
    var author = (Guid)ViewBag.Author;
    var totalPage = (int)ViewBag.TotalPage;
    var totalResult = (int)ViewBag.TotalResult;
    var articles = (List<ViewArticleDto>)ViewBag.ListSearchArticle;

    PagingModel PageModel = new PagingModel()
            {
                CurrentPage = currentPage,
                PageCount = totalPage,
                Url = (int indexpage) =>
                {
                    return Url.ActionLink("ArticleList", "Admin", new
                    {
                        currentPage = indexpage,
                        keySearch = keySearch,
                        categoryId = categoryid,
                        authorId = author,
                        processId = process,
                        time = time

                    });
                }

            };


}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Danh sách bài báo</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Bài báo</li>
                            <li class="breadcrumb-item active">Danh sách bài báo</li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt>
                            Chỗ để thời gian - dòng 260
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <div class="box_right d-flex lms_block">
                                    <div>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Nhập từ khóa</label>
                                                    <div class="common_input mb_15">
                                                        <input name="keySearch" value="@keySearch" type="text" placeholder="Nhập nội dung...">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label> Tác giả</label>
                                                    <select onchange="this.form.submit()" asp-items="@selectListAuthors" name="authorId" class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Thời gian</label>
                                                    <select onchange="this.form.submit()" asp-items="@selectListTime" name="time" class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Thể loại</label>
                                                    <select onchange="this.form.submit()" asp-items="@selectListCategory" name="categoryId" class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Đăng tải</label>
                                                    <select onchange="this.form.submit()" asp-items="selectListPublish" name="statusPublish" class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Tình trạng hiện tại</label>
                                                    <select onchange="this.form.submit()" asp-items="@selectListProcess" name="processId" class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <div class="create_report_btn mt_30">
                                                        <button asp-action="ArticleList" asp-controller="Admin" class="btn_1 radius_btn d-block text-center">Tìm kiếm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <p>Kết quả tìm kiếm cho "@keySearch" là có<strong class="text-primary"> @totalResult</strong> bài báo</p>
                            <div class="QA_table mb_30">
                                @*lms_table_active*@
                                <table class="table lms_table_active3 dataTable no-footer dtr-inline">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên bài báo</th>
                                            <th scope="col">Miêu tả ngắn</th>
                                            <th scope="col">Tên tác giả</th>
                                            <th scope="col">Thể loại</th>
                                            <th scope="col">Ngày đăng</th>
                                            <th scope="col">Lần cập nhật cuối</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Tình trạng hiện tại</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var a in articles)
                                        {
                                            <tr>
                                                <th>@a.Title</th>
                                                <td>@a.ShortDescription</td>
                                                <td>@a.AuthorName</td>
                                                <td>@a.CategortyName</td>
                                                <td><p>@(a.CreatedDate == null ? "Empty" : a.CreatedDate.ToString("d/MM/yyyy"))</p></td>
                                                <td><p>@(a.UpdatedDate == null ? "Empty" : a.UpdatedDate.Value.ToString("d/MM/yyyy"))</p></td>
                                                @if (a.IsPublish)
                                                {
                                                    <td><h3 class="badge bg-success"></h3>Công khai</td>
                                                }
                                                @if (!a.IsPublish)
                                                {
                                                    <td><h3 class="badge bg-warning"></h3>Cá nhân</td>
                                                }
                                                <td><h3 class="badge bg-success">@a.StatusProcessName</h3></td>
                                                <td>
                                                    <div class="action_btns d-flex">
                                                        <a asp-action="UpdateArticleAdmin" asp-controller="Admin" asp-route-articleId="@a.ArticleId" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                        <a asp-action="DeleteArticleAdmin" asp-controller="Admin" asp-route-articleId="@a.ArticleId" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (currentPage != int.MinValue)
                                {
                                    @await Html.PartialAsync("_Pagination",PageModel)
                                    ;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
    @await Html.PartialAsync("_ToastMessage");

    <script src="~/js/add_update_article.js"></script>
    }