@using BusinessObjects.Models;
@{
    Layout = "_LayoutMainAdmin";
    var userInSystem = (int)ViewBag.UserInSystem;
    var articleInSystem = (int)ViewBag.ArticlerInSystem;
    var articleApproval = (int)ViewBag.ArticleApproval;
    var articleNeedApproval = (int)ViewBag.ArticleNeedApproval;

    var userNewest = (List<User>)ViewBag.UserNewest;
    var articleNewest = (List<Article>)ViewBag.ArticleNewest;
    var commentNewest = (List<Comment>)ViewBag.CommentNewest;
    var roles = (SelectList)ViewBag.SelectListRoles;
    var now = DateTime.Now;
     string timeComment(DateTime timeComment)
    {
        TimeSpan difference = now - timeComment;

        if (difference.TotalSeconds < 60)
        {
            return $"{(int)difference.TotalSeconds} giây trước";
        }
        else if (difference.TotalMinutes < 60)
        {
            return $"{(int)difference.TotalMinutes} phút trước";
        }
        else if (difference.TotalHours < 24)
        {
             return $"{(int)difference.TotalHours} giờ trước";
        }
        else if (difference.TotalDays < 30)
        {
           return $"{(int)difference.TotalDays} ngày trước";
        }
        else if (difference.TotalDays < 365)
        {
            int months = (int)(difference.TotalDays / 30);
             return $"{months} tháng trước";
        }
        else
        {
            int years = (int)(difference.TotalDays / 365);
            return $"{years} năm trước";
        }
        return "Lâu về trước";
    }
}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Thống kê dữ liệu</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Thống kê</li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt>
                          Ngày và giờ :   @DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xl-8 ">
                <div class="white_card mb_30 card_height_100">
                    <div class="white_card_header">
                        <div class="row align-items-center justify-content-between flex-wrap">
                            <div class="col-lg-4">
                                <div class="main-title">
                                    <h3 class="m-0">Số người truy cập trang web</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 text-end d-flex justify-content-end">
                                <select class="nice_Select2 max-width-220">
                                    <option value="1">Theo tuần</option>
                                    <option value="1">Theo tháng</option>
                                    <option value="1">Theo năm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="chartInPut">
                            <style>

                                #chart {
                                    max-width: 650px;
                                    margin: 35px auto;
                                }
                            </style>

                            <script>
                                window.Promise ||
                                    document.write(
                                        '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
                                    )
                                window.Promise ||
                                    document.write(
                                        '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
                                    )
                                window.Promise ||
                                    document.write(
                                        '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
                                    )
                            </script>


                            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


                            <script>
                                // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
                                // Based on https://gist.github.com/blixt/f17b47c62508be59987b
                                var _seed = 42;
                                Math.random = function () {
                                    _seed = _seed * 16807 % 2147483647;
                                    return (_seed - 1) / 2147483646;
                                };
                            </script>



                            <div id="chart"></div>

                            <script>

                                var options = {
                                    series: [{
                                        name: 'Số lượng truy cập trang web',
                                        data: [31, 40, 28, 51, 42, 109, 100]
                                    }, {
                                        name: 'Số lượng người dùng đăng ký',
                                        data: [11, 32, 45, 32, 34, 52, 41]
                                    }, {
                                        name: 'Số lượng bài báo',
                                        data: [22, 33, 44, 55, 11, 22, 44, 55]
                                    }],
                                    chart: {
                                        height: 350,
                                        type: 'area'
                                    },
                                    dataLabels: {
                                        enabled: false
                                    },
                                    stroke: {
                                        curve: 'smooth'
                                    },
                                    xaxis: {
                                        type: 'datetime',
                                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                    },
                                    tooltip: {
                                        x: {
                                            format: 'dd/MM/yy HH:mm'
                                        },
                                    },
                                };

                                var chart = new ApexCharts(document.querySelector("#chart"), options);
                                chart.render();


                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 ">
                <div class="white_card card_height_100 mb_30 user_crm_wrapper">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="single_crm">
                                <div class="crm_head d-flex align-items-center justify-content-between">
                                    <div class="thumb">
                                        <p action="text-white mt-2">Số người dùng</p> 
                                    </div>
                                    <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                </div>
                                <div class="crm_body">
                                    <h4>@userInSystem</h4>
                                    <p>Tổng số lượng người dùng</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="single_crm ">
                                <div class="crm_head crm_bg_1 d-flex align-items-center justify-content-between">
                                    <div class="thumb">
                                        <p action="text-white mt-2">Số nhà báo</p>
                                    </div>
                                    <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                </div>
                                <div class="crm_body">
                                    <h4>@articleInSystem</h4>
                                    <p>Tổng số nhà báo</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="single_crm ">
                                <div class="crm_head crm_bg_2 d-flex align-items-center justify-content-between">
                                    <div class="thumb">
                                        <p action="text-white mt-2">Bài báo cần duyệt</p>
                                    </div>
                                    <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                </div>
                                <div class="crm_body">
                                    <h4>@articleNeedApproval</h4>
                                    <p>Tổng số bài báo</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="single_crm ">
                                <div class="crm_head crm_bg_3 d-flex align-items-center justify-content-between">
                                    <div class="thumb">
                                        <p action="text-white mt-2">Bài báo trên trang</p>
                                    </div>
                                    <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                </div>
                                <div class="crm_body">
                                    <h4>@articleApproval</h4>
                                    <p>Tổng số bài báo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="main-title">
                                    <h3 class="m-0">Người mới đăng ký</h3>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row justify-content-end">
                                    <div class="col-lg-8 d-flex justify-content-end">
                                        <div class="serach_field-area theme_bg d-flex align-items-center">
                                            <div class="search_inner">
                                                <form action="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Tìm kiếm">
                                                    </div>
                                                    <button type="submit"> <img src="img/icon/icon_search.svg" alt> </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body ">
                        @foreach(var u in userNewest)
                        {
                            <div class="single_user_pil d-flex align-items-center justify-content-between">
                                <div class="user_pils_thumb d-flex align-items-center">
                                    <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="img/customers/1.png" alt></div>
                                    <span class="f_s_14 f_w_400 text_color_11">@u.DisplayName</span>
                                </div>
                                <div class="user_info">
                                    @u.Role.Rolename
                                </div>
                                <div class="action_btns d-flex">
                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                </div>
                            </div>
                        } 
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="white_card card_height_100 mb_20 ">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Bài báo mới đăng</h3>
                            </div>

                            <div class="header_more_tool">
                                <div class="dropdown">
                                    <button class="dropdown-toggle btn btn-secondary" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ti-more-alt"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a></li>
                                        <li><a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a></li>
                                        <li><a class="dropdown-item" href="#"> <i class="ti-pencil-alt"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a></li>
                                        <li><a class="dropdown-item" href="#"> <i class="ti-download"></i> Download</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="white_card_body QA_section">
                        <div class="QA_table">

                            <table class="table lms_table_active2 p-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên bài báo</th>
                                        <th scope="col">Thể loại</th>
                                        <th scope="col">Tác giả</th>
                                        <th scope="col">Thời gian tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in articleNewest)
                                    {
                                        <tr>
                                            <td>
                                                <div class="customer d-flex align-items-center">
                                                    <span class="f_s_12 f_w_600 color_text_5">@a.ShortDescription</span>
                                                </div>
                                            </td>
                                            <td class="f_s_12 f_w_400 color_text_6">@a.Categorty.CategoryName</td>
                                            <td class="f_s_12 f_w_400 color_text_7">@a.AuthorNavigation.DisplayName</td>
                                            <td class="f_s_12 f_w_400 color_text_6">@a.CreatedDate.ToString("d/MM/yyyy")</td>
                                        </tr>
                                    }  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Hoạt động gần đây</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="Activity_timeline">
                            <ul>
                                @foreach (var c in commentNewest)
                                {
                                    <li>
                                        <div class="activity_bell"></div>
                                        <div class="timeLine_inner d-flex align-items-center">
                                            <div class="activity_wrap">
                                                <h6>@timeComment(c.CreateDate)</h6>
                                                <p>
                                                   @c.User.DisplayName : @c.Content
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Gửi lời mời đăng ký tới người dùng</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="thumb mb_30">
                            <img src="img/table.svg" alt class="img-fluid">
                        </div>
                        <div class="common_form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="common_input mb_15">
                                            <input name="email" type="text" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <select asp-items="@roles" name="roleId" class="nice_Select2 nice_Select_line wide">
                                            
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <div class="create_report_btn mt_30">
                                            <a href="#" class="btn_1 radius_btn d-block text-center">Gửi lời mời</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/user-management-html/js/charts.js"></script>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
    @await Html.PartialAsync("_ToastMessage");
}