@using BusinessObjects.Models;
@using WebNewsAPIs.Dtos;
@{
    Layout = "_LayoutMainAdmin";

    var currentPage = ((ViewBag.CurrentPage) == null ? int.MinValue : (int)(ViewBag.CurrentPage));
    var totalPage = (ViewBag.TotalPage) == null ? int.MinValue : (int)(ViewBag.TotalPage);
    var selectListRole = (SelectList)ViewBag.SelectListRole;
    var keySearch = (string)ViewBag.KeySearch;

    var roleId = (Guid)ViewBag.RoleId;

    var users = (List<ViewUserDto>)ViewBag.ListUser;

    int? total = (ViewBag.TotalResultCount == null ? null : (int)ViewBag.TotalResultCount);
    var count = 0;




    PagingModel PageModel = new PagingModel()
            {
                CurrentPage = currentPage,
                PageCount = totalPage,
                Url = (int indexpage) =>
                {
                    return Url.ActionLink("UserList", "Admin", new
                    {
                        currentPage = indexpage,
                        roleId = roleId,
                        keySearch = keySearch
                    });
                }

            };
}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Dashboard</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">User List</li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt>
                            August 1, 2020 - August 31, 2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>User List </h4>

                                <div class="box_right d-flex lms_block">
                                    <form method="get">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <select onchange="this.form.submit()" class="form-select" name="roleId" id="role" asp-items="@selectListRole"></select>
                                            </div>

                                            <div class="col-lg-6">
                                                <input class="form-control" type="text" name="keySearch" placeholder="Search content here...">
                                            </div>
                                            <button class="btn btn-primary col-lg-1" asp-action="UserList" asp-controller="Admin"> <i class="ti-search"></i> </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <p>Kết quả tìm kiếm cho "@keySearch" là có<strong class="text-primary"> @total</strong> bài báo</p>
                            <div class="QA_table mb_30">
                                @*lms_table_active*@
                                <table class="table  ">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Display Name</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in users)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.DisplayName</td>
                                                <td>@item.Username</td>
                                                <td>@(string.IsNullOrEmpty(item.Gender) == true ? "Gender Empty" : item.Gender)</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.RoleName</td>
                                                @if (item.IsConfirm)
                                                {
                                                    <td><a href="#" class="status_btn">Active</a></td>
                                                }
                                                @if (!item.IsConfirm)
                                                {
                                                    <td><a href="#" class="status_btn bg-danger">InActive</a></td>
                                                }

                                                @if (item.RoleName.ToUpper().Equals("ADMIN"))
                                                {
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                        </div>
                                                    </td>
                                                }
                                                @if (item.RoleName.ToUpper().Equals("ARTICLES"))
                                                {
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            
                                                            <a title="Xem các bài báo của tác giả @item.DisplayName" asp-action="ArticleList" asp-route-authorId="@item.UserId" class="action_btn mr_10"> <i class="fa-regular fa-newspaper"></i> </a>
                                                            <a title="Thống kê doanh thu từ các bài báo của @item.DisplayName" asp-action="ManagementRevenueOfArticler"
                                                               asp-route-authorId="@item.UserId"
                                                               
                                                            class="action_btn mr_10"> <i class="fa-solid fa-list-check"></i> </a>
                                                            @if (item.IsConfirm)
                                                            {
                                                                <a asp-action="LockOrActive" asp-route-userId="@item.UserId" asp-route-isLock="true" title="Khóa tài khoản của @item.DisplayName" class="action_btn"> <i class="fa-solid fa-user-lock"></i> </a>
                                                            }
                                                            @if (!item.IsConfirm)
                                                            {
                                                                <a asp-action="LockOrActive" asp-route-userId="@item.UserId" asp-route-isLock="false" title="Mở khóa tài khoản của @item.DisplayName" class="action_btn"> <i class="fa-solid fa-lock-open"></i> </a>
                                                                
                                                            }
                                                         </div>
                                                    </td>
                                                }
                                                @if (item.RoleName.ToUpper().Equals("CUSTOMER"))
                                                {
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                            @if (item.IsConfirm)
                                                            {
                                                                <a asp-action="LockOrActive" asp-route-userId="@item.UserId" asp-route-isLock="true" title="Khóa tài khoản của @item.DisplayName" class="action_btn"> <i class="fa-solid fa-user-lock"></i> </a>
                                                            }
                                                            @if (!item.IsConfirm)
                                                            {
                                                                <a asp-action="LockOrActive" asp-route-userId="@item.UserId" asp-route-isLock="false" title="Mở khóa tài khoản của @item.DisplayName" class="action_btn"> <i class="fa-solid fa-lock-open"></i> </a>

                                                            }
                                                        </div>
                                                    </td>
                                                }

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                @if (currentPage != int.MinValue)
                                {
                                    @await Html.PartialAsync("_Pagination",PageModel)
                                    ;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
    @await Html.PartialAsync("_ToastMessage");
}