@{
    Layout = "_LayoutMainAdmin";
}
@using BusinessObjects.Models;
@using System.Text;
@using WebNewsAPIs.Dtos;
@{
    var adminList = ((IEnumerable<User>)ViewBag.ListUser).ToList();
}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Dashboard</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Analytic</li>
                        </ol>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt>
                            August 1, 2020 - August 31, 2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Danh sách người dùng</h4>
                            </div>
                            <div class="white_box_tittle list_header">
                                <div class="box_right d-flex lms_block">
                                    <div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Tên người dùng</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tài khoản</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Ngày sinh</label>
                                                <div class="common_input mb_15">
                                                    <input type="date" value="2022-02-22">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Ngày tạo tài khoản</label>
                                                <div class="common_input mb_15">
                                                    <input type="date" value="2022-02-22">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Giới tính</label>
                                                <select class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    <option value="1">Nam</option>
                                                    <option value="1">Nữ</option>
                                                    <option value="1">Khác</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Địa chỉ</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số điện thoại</label>
                                                <div class="common_input mb_15">
                                                    <input type="text" placeholder="Nhập nội dung...">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Phân quyền</label>
                                                <select class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    <option value="0">Quản lý</option>
                                                    <option value="1">Khách hàng</option>
                                                    <option value="1">Tác giả</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tình trạng xác minh</label>
                                                <select class="nice_Select2 nice_Select_line wide" style="display: none;">
                                                    <option value="1">Chưa xác minh</option>
                                                    <option value="1">Đã xác minh</option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <div class="create_report_btn mt_30">
                                                    <a href="#" class="btn_1 radius_btn d-block text-center">Tìm kiếm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên người dùng</th>
                                            <th scope="col">Tài khoản</th>
                                            <th scope="col">Ngày sinh</th>
                                            <th scope="col">Ngày tạo tài khoản</th>
                                            <th scope="col">Giới tính</th>
                                            <th scope="col">Địa chỉ</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">Phân quyền</th>
                                            <th scope="col">Xác minh</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (adminList.Count == 0)
                                        {
                                            <div class="card border-primary mb-3" style="max-width: 100%;">
                                                <div class="card-header">Không nhận được danh sách người dùng, lỗi</div>
                                            </div>
                                        }
                                        @if(adminList.Count != 0)
                                        {
                                            @foreach(var a in adminList)
                                            {
                                                <tr>
                                                    <td>@a.DisplayName</td>
                                                    <td>@a.Username</td>
                                                    <td>@a.DateOfBirth?.ToString("dd/MM/yyyy")</td>
                                                    <td>@a.Createddate.ToString("dd/MM/yyyy")</td>
                                                    @switch (a.Gender)
                                                    {
                                                        case "Nam":
                                                            <td><h3 class="badge bg-success">Nam</h3></td>
                                                            break;
                                                        case "Nữ":
                                                            <td><h3 class="badge bg-danger">Nữ</h3></td>
                                                            break;
                                                        case "Khác":
                                                            <td><h3 class="badge bg-danger">Nữ</h3></td>
                                                            break;
                                                        case null:
                                                            <td><h3 class="badge bg-danger">Khác</h3></td>
                                                            break;
                                                    }
                                                    <td>@a.Address</td>
                                                    <td>@a.PhoneNumber</td>
                                                    @switch (a.Role.Rolename)
                                                    {
                                                        case "Customer":
                                                            <td><h3 class="badge bg-success">Khách hàng</h3></td>
                                                            break;
                                                        case "Articles":
                                                            <td><h3 class="badge bg-danger">Tác giả</h3></td>
                                                            break;
                                                    }
                                                    @switch (a.IsConfirm)
                                                    {
                                                        case true:
                                                            <td><h3 class="badge bg-success">Đã xác minh</h3></td>
                                                            break;
                                                        case false:
                                                            <td><h3 class="badge bg-danger">Chưa xác minh</h3></td>
                                                            break;
                                                    }
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                            <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>